@value text-black from "css/colors.css";

.wrapper {
    margin-top: 55px;
    border-top: 1px solid #d8d8d8;
}

.item-wrapper {
    margin-top: 35px;
}

.item-caption {
    margin-bottom: 20px;
    color: text-black;
    font-size: 14px;
}

.item-value {
    color: text-black;
    font-size: 20px;
}

.item-account:not(:last-child) {
    margin-bottom: 15px;
}
