@value text-black from "css/colors.css";

.wrapper {
    position: relative;
    max-width: 100%;
    height: calc(100% - 14px);
    background-color: #fff;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.1);
}

.close-btn {
    position: absolute;
    top: 32px;
    right: 28px;
    z-index: 10;
    width: 17px;
    height: 17px;
    background-image: url('./img/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close-btn:hover {
    transform: rotateZ(180deg);
}
