.settings-wrapper {
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000;
    display: flex;
    width: 310px;
    flex-direction: column;
    align-items: flex-end;
}

.settings-btn {
    width: 15px;
    height: 15px;
    background-image: url('./settings.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.field-list-container {
    position: relative;
    top: -15px;
    display: none;
    width: 300px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
}

.field-list-container--visible {
    display: block;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #e8e8e8;
    font-size: 25px;
    font-weight: bold;
    line-height: 1;
    cursor: pointer;
    transition: color .2s ease-in;
}

.close-btn:hover {
    color: #ccc;
}

.field-list {
    padding-left: 20px;
    color: #111;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    list-style: none;
}

.field-list > li {
    display: flex;
    margin-bottom: 20px;
}

.field-list > li:last-child {
    margin-bottom: 0;
}

.field-list > li > div:last-child {
    margin-left: 10px;
}
