
.account {
    min-height: 110px;
    padding: 16px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
    transition: background-color .5s ease;
}

.account[data-selected="true"] {
    background-color: #f8f8f8;
}

.account:hover {
    background-color: #f4f4f4;
}

.account-name {
    display: flex;
    align-items: center;
    overflow: hidden;
    font-size: 16px;
    font-size: 14px;
    font-weight: 600;
}

.icon {
    width: 40px;
    min-width: 40px;
    height: 30px;
    margin-right: 10px;
    background-image: url('./img/rub-shadow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rub-account {
    background-image: url('./img/rub-shadow.png');
}

.card-visa {
    background-image: url('./img/visa-shadow@3x.png');
}

.card-mc {
    background-image: url('./img/master-card-shadow.png');
}

.account-name > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.account-balance {
    font-size: 30px;
    font-size: 28px;
    font-size: calc(24px + 6 * ((100vw - 800px) / 1120));
}
