@value main-gradient from "css/colors.css";

.wrapper {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 60px;
    overflow: hidden;
}

.product-image {
    flex-grow: 1;
    width: 100%;
    height: 166px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper a {
    text-decoration: none !important;
}

.link-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none !important;
    background-image: main-gradient;
}
