.wrapper {
    position: relative;
    overflow-x: hidden;
    background-color: #cccccc;
}

.items-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
}

.item {
    width: 100%;
    min-width: 100%;
    height: 100%;
}

.dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

.dot {
    width: 8px;
    height: 8px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 100%;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .3s ease-in;
}

.dot[data-active="true"] {
    opacity: 1;
}

.dot:last-child {
    margin-right: 0;
}
