.toast-item-container {
    width: 320px;
    margin-bottom: 10px;
    padding: 25px;
    color: #fff;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
}

.toast-item-container:last-child {
    margin-bottom: 0;
}
