@value main-gradient from "css/colors.css";

.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 45px;
    height: 42px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    color: #000;
    font-size: 18px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.wrapper[data-bg="gradient"] {
    color: #fff;
    background: main-gradient;
}

.wrapper[data-bg="white"] {
    background: #fff;
    border: 1px solid #3f314a;
    border-radius: 8px;
}

.wrapper[data-bg="grey"] {
    background-color: #f0f0f0;
}

.wrapper[data-disabled="true"] {
    background: #ccc;
    cursor: no-drop;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    opacity: 0;
    transition: opacity 0.3s ease-in;
    will-change: opacity;
}

.wrapper[data-bg="white"]::before {
    background-color: rgba(0, 0, 0, 0.05);
}

.wrapper:hover::before {
    opacity: 1;
}

.caption {
    position: relative;
    z-index: 20;
    white-space: nowrap;
}

.spinner {
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div:last-child {
    margin-right: 0;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% { -webkit-transform: scale(0); }
    40% { -webkit-transform: scale(1); }
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
