.footer {
    width: 100%;
    height: 160px;
}

.footer::before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-image: linear-gradient(94deg, #09357e, #e72e92);
}

.footer-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 7%;
    padding-right: 7%;
    font-size: 14px;
}

.bank-phones {
    line-height: 1.79;
}

.bank-phones > div:first-child {
    margin-bottom: 8px;
}

.social-icons {
    display: flex;
    margin-top: 10px;
}

.social-icons > a > div {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-icons > a:last-child > div {
    margin-right: 0;
}

.fb {
    background-image: url('./img/fb.png');
}

.tw {
    background-image: url('./img/tw.svg');
}

.vk {
    background-image: url('./img/vk.svg');
}

.bank-links {
    font-weight: 600;
    line-height: 1.79;
}

.bank-links a {
    color: #000;
    text-decoration: none;
}

.license {
    line-height: 1.79;
}

.mb-info {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.mb-info__buttons {
    display: flex;
    align-items: center;
}

.mb-info__link {
    width: 60px;
    height: 60px;
    margin-right: 14px;
    flex-shrink: 0;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background: url('./img/512x512_googleplay.png') no-repeat center;
    background-size: cover;
}

.mb-info__title {
    margin-bottom: 13px;
    font-size: 14px;
    font-weight: 600;
}

.mb-info__button {
    width: 87px;
    height: 30px;
    margin-right: 20px;
    flex-shrink: 0;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
    background-size: cover;
}

.mb-info__button:last-child {
    margin-right: 0;
}

.mb-info__button_appstore {
    background: url('./img/AppleStore.svg') no-repeat center;
}

.mb-info__button_gplay {
    background: url('./img/Gplay.svg') no-repeat center;
}

@media (max-width: 1600px) {
    .bank-links {
        display: none;
    }
}

@media (max-width: 1400px) {
    .mb-info__link {
        width: 50px;
        height: 50px;
    }

    .mb-info__title {
        font-size: 12px;
    }

    .mb-info {
        align-items: center;
        justify-content: center;
    }

    .footer-content {
        font-size: 12px;
    }
}

@media (max-width: 1360px) {
    .footer-content {
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media (max-width: 1300px) {
    .mb-info__buttons {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .mb-info__button {
        margin-right: 0;
        margin-bottom: 2px;
    }

    .mb-info__button:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 1100px) {
    .social-icons > a > div {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

@media (max-width: 1000px) {
    .mb-info__buttons {
        flex-direction: row;
        align-items: center;
    }

    .mb-info__button {
        margin-right: 14px;
        margin-bottom: 0;
    }

    .mb-info__button:last-child {
        margin-bottom: 0;
    }

    .footer-content {
        font-size: 14px;
    }

    .social-icons > a > div {
        width: 40px;
        height: 40px;
        margin-right: 20px;
    }
}

@media (max-width: 800px) {
    .footer-content {
        font-size: 12px;
    }

    .social-icons > a > div {
        width: 25px;
        height: 25px;
        margin-right: 10px;
    }
}

@media (max-width: 768px) {
    .footer {
        height: auto;
        flex-shrink: 0;
    }

    .footer-content {
        display: block;
        padding: 10px;
        text-align: center;
    }

    .footer-content > * {
        margin-bottom: 30px;
    }

    .footer-content > *:last-child {
        margin-bottom: 0;
    }
}
