@value text-black from 'css/colors.css';

.contragent-wrapper {
    display: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 28px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

.contragent-wrapper[data-selected="true"] {
    background-color: #f6f6f6;
}

.contragent-wrapper[data-visible="true"] {
    display: flex;
}

.contragent-name {
    overflow: hidden;
    color: text-black;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contragent-kontur-wrapper {
    position: relative;
}

.contragent-kontur {
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    margin-left: 25px;
    border-radius: 100%;
}

.contragent-kontur[data-facts="green"] {
    background-image: linear-gradient(135deg, #3ddbc6, #23c9a4);
}

.contragent-kontur[data-facts="yellow"] {
    background-image: linear-gradient(135deg, #fad961, #f7c61c);
}

.contragent-kontur[data-facts="red"] {
    background-image: linear-gradient(135deg, #f5515f, #ff0026);
}

.contragent-kontur[data-facts="grey"] {
    background-image: linear-gradient(135deg, #959595, #484848);
}

.contragent-kontur[data-facts="grey"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    border-radius: 100%;
}

.contragent-kontur-more {
    position: absolute;
    left: 10px;
    color: #41334b;
    font-size: 12px;
    font-weight: 600;
    opacity: 0;
    transition: opacity .3s ease;
}

.contragent-kontur-wrapper:hover .contragent-kontur-more {
    opacity: 1;
}

.contragent-kontur[data-facts="grey"] + .contragent-kontur-more {
    display: none;
}
