.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 270px;
    height: 100%;
    color: #3e3048;
    font-size: 16px;
    border-left: 1px solid #d8d8d8;
}

.notification-sticker {
    position: relative;
    top: -10px;
    margin-left: 5px;
    border-radius: 100px;
    padding: 4px 6px;
    line-height: 1em;
    font-size: 10px;
    color: white;
    background: rgb(233, 77, 77);
}

.notification-sticker:empty {
    display: none;
}

@media (max-width: 1550px) {
    .wrapper {
        min-width: 230px;
    }
}

@media (max-height: 800px) {
    .wrapper {
        font-size: 16px;
    }
}

.wrapper > a {
    color: #3e3048;
    text-decoration: none;
    cursor: pointer;
}
