.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 185px;
    margin-right: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.18);
}

.company-logo {
    height: 50px;
}

.company-logo > div {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.company-description {
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
}

.get-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: #fff;
    font-size: 14px;
    background-color: #06b39b;
    border-radius: 0 0 3px 3px;
    cursor: pointer;
    transition: background-color .3s ease-in;
}

.get-btn:hover {
    background-color: color(#06b39b blackness(40%));
}
