@value column-width, column-height from "css/dimensions.css";

.contacts-wrapper {
    margin-top: 10px;
    margin-bottom: 25px;
    padding-left: calc(column-width * 0.5);
    color: #000;
}

.phone {
    display: flex;
    min-height: 35px;
    align-items: flex-end;
    font-size: 20px;
}

.phone a {
    color: #000 !important;
    text-decoration: none;
}

.branches {
    display: flex;
    height: column-height;
    min-height: 40px;
    align-items: center;
    font-size: 14px;
}
