.container {
    padding: 4px 20px;
}

.title {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.card-list > * {
    margin-right: 30px;
}

.card-list > *:last-child {
    margin-right: 0;
}

.card-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 330px;
    margin-bottom: 30px;
}

.info:last-child {
    margin-bottom: 0;
}

.info-title {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.info-value {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
}