@value text-black from "css/colors.css";

.content {
    position: relative;
    padding: 15px 0;
    overflow: hidden;
    color: text-black;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #d8d8d8;
    cursor: pointer;
}

.content:first-child {
    border-top: 0;
}

.content:last-child {
    border-bottom: 1px solid #d8d8d8;
}

.content:hover .actions_is-active {
    opacity: 1;
    visibility: visible;
}

.head {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.actions {
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease;
}

.actions_is-active {}

.actions-item {
    width: 14px;
    height: 14px;
    margin-bottom: 5px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    cursor: pointer;
}

.actions-item:last-child {
    margin-bottom: 0;
}

.actions-item_edit {
    background-image: url('./img/EditIT.svg');
}

.actions-item_delete {
    background-image: url('./img/trashcan.png');
}

.form {
    position: relative;
    display: block;
    flex-shrink: 1;
    margin-right: 10px;
    width: 100%;
    max-width: calc(100% - 25px);
}

.input {
    width: 100%;
    color: text-black;
    font-size: 16px;
    border: 0;
    outline: none;
}

.error {
    position: absolute;
    top: 100%;
    color: #ff3b30;
    font-size: 12px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height .2s ease-in-out, margin-top .2s ease-in-out, opacity .2s ease-in-out;
}

.buttons_edit {}

.buttons_delete {}

.buttons_is-active {
    opacity: 1;
    margin-top: 20px;
    max-height: 30px;
}
