.nds-list {
    display: flex;
    flex-wrap: wrap;
}

.nds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 45px;
    margin-right: 20px;
    font-size: 12px;
    color: #949494;
    white-space: nowrap;
    background-color: #f8f8f8;
    border-radius: 23px;
    cursor: pointer;
}

.nds[data-active="true"] {
    color: #41334b;
    border: 1px solid #3e3048;
}

.nds:last-child {
    margin-right: 0;
}
