.form-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin-top: 28px;
    padding-left: 28px;
}

.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding-right: 120px;
    padding-right: 28px;
    padding-bottom: 28px;
}

.form-wrapper[data-smallform="true"] .form {
    margin: 0 auto;
    border-right: 0;
}

@media (max-width: 1279px) {
    .form {
        padding-right: 0;
        border-right: 0;
    }
}

.main-form {
    width: 500px;
}

.information-content {
    flex-grow: 1;
    width: 20%;
    padding-left: 40px;
    font-size: 14px;
    font-size: calc(10px + (14 - 10) * ((100vw - 1280px) / 640));
    white-space: pre-wrap;
}

.payment-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 28px;
    font-size: 18px;
}

.doc-number {
    position: relative;
    display: flex;
    align-items: center;
}

.doc-number-input {
    width: 42px;
    height: 28px;
    margin: 0 5px;
    padding-right: 20px;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.form-block-name {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
    color: #3e3048;
    font-size: 14px;
    font-weight: 600;
}

.block-amount {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.template-list-wrapper {
    width: 450px;
    min-width: 330px;
    height: 660px;
}

@media (max-width: 1400px) {
    .template-list-wrapper {
        width: 330px;
    }
}

@media (max-width: 1279px) {
    .template-list-wrapper {
        display: none;
    }
}

.template-list {
    padding-left: 20px;
    padding-left: 40px;
    /*
    padding-right: 28px;
    */
}

.no-templates {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #000;
    font-size: 18px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.template-item {
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #60b4d4;
    font-size: 18px;
    text-overflow: ellipsis;
    cursor: pointer;
}

.template-item:hover {
    color: color(#60b4d4 lightness(38%));
}

.template-star-icon {
    width: 18px;
    min-width: 18px;
    height: 18px;
    min-height: 18px;
    margin-right: 10px;
    background-image: url('./star_yellow.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.urgen-wrapper {
    position: relative;
    align-self: flex-end;
}

.urgen-btn {
    color: #60b4d4;
    font-size: 14px;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.urgen-wrapper[data-disabled="true"] .urgen-btn {
    color: #000;
    border-bottom: 0;
    cursor: default;
}

.urgen-list {
    position: absolute;
    top: 30px;
    right: -8px;
    display: flex;
    display: none;
    width: 180px;
    align-items: center;
    justify-content: space-between;
}

.urgen-list[data-visible="true"] {
    display: flex;
}

.urgen-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.urgen-item:hover {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
}

.urgen-item[data-active="true"] {
    color: #fff;
    background-color: #60b4d4;
}

.tooltip {
    position: absolute;
    top: 30px;
    left: -90px;
    z-index: 100;
    display: none;
    width: 210px;
    padding: 10px;
    font-size: 14px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.question-icon:hover + .tooltip {
    display: block;
}

.action-btn-row {
    display: flex;
    width: 100%;
    margin-top: 28px;
    padding: 28px;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}

.add-contragent-btn,
.select-contragent-btn {
    color: #60b4d4;
    font-size: 14px;
    border-bottom: 1px dashed;
    cursor: pointer;
}

.add-contragent-btn:hover,
.select-contragent-btn:hover {
    border-bottom: 1px solid;
}

.add-contragent-btn {
    min-width: 265px;
}

.select-contragent-btn {
    margin-left: 10px;
}

.form-wrapper [data-hidden="true"] {
    display: none !important;
}

.status-value {
    margin-left: 40px;
    font-size: 14px;
    text-transform: capitalize;
}

.status-value[data-status="end"] {
    color: #6fd3c1;
}

.status-value[data-status="decline"] {
    color: #d62351;
}

.kontur-data {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.contragent-kontur-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 45px;
    margin-right: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    cursor: pointer;
}

.contragent-kontur {
    position: relative;
    width: 32px;
    min-width: 32px;
    height: 32px;
    min-height: 32px;
    border-radius: 100%;
}

.contragent-kontur[data-facts="green"] {
    background-image: linear-gradient(135deg, #3ddbc6, #23c9a4);
}

.contragent-kontur[data-facts="yellow"] {
    background-image: linear-gradient(135deg, #fad961, #f7c61c);
}

.contragent-kontur[data-facts="red"] {
    background-image: linear-gradient(135deg, #f5515f, #ff0026);
}

.contragent-kontur[data-facts="grey"] {
    background-image: linear-gradient(135deg, #959595, #484848);
}

.contragent-kontur[data-facts="grey"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    border-radius: 100%;
}

.contragent-kontur-more {
    color: #60b4d4;
    font-size: 12px;
    border-bottom: 1px solid rgba(117, 80, 163, 0.25);
    cursor: pointer;
}

.kontur-is-fetching {
    display: flex;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

.spinner {
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 10px;
    height: 10px;
    background-color: #711464;
    border-radius: 100%;
    display: inline-block;
    margin-right: 5px;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner > div:last-child {
    margin-right: 0;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.doc-date-input {
    position: relative;
    width: 150px;
    height: 45px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    cursor: pointer;
    background-image: url('./img/calendar-idle.svg');
    background-position: 98% 80%;
    background-repeat: no-repeat;
    background-size: 22px;
}

.doc-date-input-disabled {
    cursor: default;
    background-color: rgba(232, 232, 232, .5);
}

.doc-date-label {
    position: absolute;
    top: 2px;
    left: 5px;
    width: calc(100% - 10px);
    color: #949494;
    font-size: 12px;
}

.period__daypicker {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    display: block;
    z-index: 999
}

.doc-date-text {
    font-size: 15px
}

.add-contragent-btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 45px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    cursor: pointer;
}

.add-contragent-btn-plus {
    width: 32px;
    height: 32px;
    background-image: url('./img/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.select-file {
    margin-right: 5px;
    border-bottom: 1px solid;
}
