@value text-black from "css/colors.css";
@value red-invalid-field from "css/colors.css";

.dropzone-group[data-invalid="true"] .dropzone-text {
    color: red-invalid-field;
}

.dropzone-group[data-invalid="true"] .dropzone-text > div:first-child span {
    color: red-invalid-field;
}

.dropzone-text {
    color: #949494;
    font-size: 12px;
    text-align: center;
}

.dropzone-text > div:first-child span {
    color: #41334b;
    font-weight: 600;
    border-bottom: 1px solid;
}

.file-info {
    margin-left: 7px;
    margin-top: 5px;
    color: #949494;
    font-size: 10px;
    white-space: pre;
}

.file-list {
    margin-top: 20px;
    padding-left: 7px;
    overflow: hidden;
}

.file-wrap {
    display: flex;
    align-items: center;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    color: text-black;
    font-size: 14px;
    cursor: pointer;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-item:last-child {
    margin-bottom: 0;
}

.file-icon {
    min-width: 18px;
    height: 22px;
    margin-right: 10px;
    background-image: url('./img/file.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file-delete {
    margin-left: 25px;
    font-size: 24px;
}
