.table-header {
    color: #75777a;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}

.table-header tr {
    height: 60px;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: top;
}

.table-header tr td > div:last-child,
.subtext {
    font-size: 10px;
}

.sortable {
    cursor: pointer;
    transition: color .3s ease-in;
}

.sortable:hover {
    color: #000 !important;
}

.table-header td[data-visible="false"] {
    display: none;
}
