@value text-black from "css/colors.css";

.wrapper {
    display: flex;
    width: 100%;
    padding-top: 10px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 28px;
    color: text-black;
    font-size: 14px;
    border-bottom: 1px solid #d8d8d8;
}

.payment-info {
    display: flex;
    flex-direction: column;
    min-width: 160px;
}

.payment-info > div:first-child {
    margin-bottom: 10px;
}

.requisites {
    display: flex;
    width: 100%;
}

.requisites > div {
    margin-right: 15px;
}

.requisites > div:last-child {
    margin-right: 0;
}

.payment-data {
    display: flex;
    align-items: flex-start;
}

.payment-contragent {
    width: 417px;
    max-width: 417px;
    margin-right: 124px;
    color: #41334b;
    font-size: 18px;
    font-weight: 600;
}

.payment-desc {
    width: 357px;
    max-width: 357px;
    margin-left: 30px;
    margin-right: 124px;
}

.payment-amount {
    color: #e94d4d;
    font-size: 24px;
    font-weight: 600;
    white-space: nowrap;
}

.payment-amount[data-plus="true"] {
    color: #3ac56c;
}
