.container {
    display: flex;
    align-items: center;
}

.container > * {
    margin-right: 20px;
    cursor: pointer;
}

.container > *:last-child {
    margin-right: 0;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttons > * {
    margin-right: 20px;
}

.buttons > *:last-child {
    margin-right: 0;
}

.radio-item {}

.radio-input {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.radio-label {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 6px 16px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    color: black;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.radio-input + .radio-label::after {
    content: '';
    position: absolute;
    top: calc(100% + 9px);
    left: 0;
    width: 100%;
    height: 3px;
    opacity: 1;
    border-radius: 1.5px;
    background-image: linear-gradient(92deg, #0a357e, #e62e92);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.radio-input:checked + .radio-label::after {
    opacity: 1;
}

.calendar {
    position: relative;
}

.daypicker {
    position: absolute;
    top: calc(100% + 12px);
    right: 0;
    display: block;
    z-index: 100;
}

.calendar-icon {
    position: absolute;
    top: calc(50% - 24px / 2);
    left: calc(50% - 22px / 2);
    width: 22px;
    height: 24px;
    background-image: url('./img/calendar.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px 24px;
}
