@value violet-gradient: linear-gradient(to left, #bb3c63, #654caa);

@value main-gradient: linear-gradient(90deg, #09357e, #e72e92);

@value modal-outside-background: rgba(96, 107, 123, 0.9);

@value text-black: #3e3048;

@value red-invalid-field: #ff3b30;
