@font-face {
    font-family: 'OpenSans-Light';
    src:
        url('./fonts/OpenSans-Light.eot'),
        url('./fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src:
        url('./fonts/OpenSans-Regular.eot'),
        url('./fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'password';
    src:
        url('./fonts/password.eot'),
        url('./fonts/password.ttf') format('truetype');
}

body {
    font-family: 'OpenSans-Regular';
}
