:global(.DateInput) {
    font-size: 18px;
    line-height: 1;
    border: 0 !important;
}

:global(.DateInput_input) {
    font-family: 'OpenSans-Regular';
}

:global(.DateRangePickerInput) {
    border: 0 !important;
}

:global(.CalendarDay__today) {
    color: #000;
    font-weight: 600;
    background-color: #f1f1f1;

    &:hover {
        color: #000;
        background-color: #eee;
    }
}
