.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 22px;
    padding-top: 10px;
    padding-right: 22px;
    padding-bottom: 10px;
    font-size: 14px;
    border-top: 1px solid #d8d8d8;
}

.accept-btn {
    color: #00a699;
    cursor: pointer;
}

.cancel-btn {
    cursor: pointer;
}
