.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    display: none;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.86);
}

.modal[data-visible="true"] {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 18px;
    padding-left: 26px;
    padding-right: 22px;
    color: #fff;
    font-size: 18px;
}

.close {
    width: 17px;
    height: 16px;
    background-image: url('./img/x.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close:hover {
    transform: rotateZ(180deg);
}
