@value column-width, column-height from "css/dimensions.css";

.settings {
    display: flex;
    height: column-height;
    height: 30px;
    align-items: center;
    margin-top: 10px;
    padding-left: calc(column-width * 0.5);
    font-size: 14px;
    color: #fff;
    color: #000;
    text-decoration: none;
}

.link {
    color: #fff;
    color: #000;
    text-decoration: none;
}

.active-link {
    font-family: 'OpenSans-Regular';
}

.active-link .settings {
    background-color: color(#b8408a lightness(40%));
    background-color: rgb(245, 245, 245);
}
