.wrapper {
    position: relative;
    margin-right: 50px;
}

.template-wrapper {
    position: relative;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 110px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.template-name {
    overflow: hidden;
    color: #000;
    font-size: 14px;
    text-overflow: ellipsis;
}

.template-sum {
    font-size: 24px;
    font-weight: 600;
}

.sign-btn {
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 10;
    padding-top: 5px;
    transition: transform .5s ease;
    will-change: transform;
}

.wrapper:hover .sign-btn {
    transform: translateY(35px);
}

.actions {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    overflow: hidden;
}

.actions > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transform: translateX(20px);
    transition: transform .5s ease;
    will-change: transform;
}

.wrapper:hover .actions > div {
    transform: translateX(0px);
}

.drag-n-drop {
    width: 12px;
    height: 10px;
    background-image: url('./img/drag-ndrop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.delete {
    width: 12px;
    height: 14px;
    background-image: url('./img/trashcan.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
