.wrapper {

}

.list-wrapper {
    min-height: 450px;
    overflow: hidden;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.statement-date {
    display: flex;
    align-items: center;
    height: 40px;
    padding-left: 32px;
    font-size: 14px;
    background-color: #f1f5f8;
}

.section-name {
    margin: 20px 32px;
    color: #41334b;
    font-size: 14px;
    font-weight: 600;
}

.no-data {
    margin-left: 32px;
    margin-top: 18px;
    font-size: 18px;
}
