:global(.joyride-tooltip) {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    width: 320px;
}

:global(.joyride-tooltip.left) {
}

:global(.joyride-tooltip__main) {
    content: '';
    position: absolute;
    top: 15px;
    left: 100%;
    width: 94px;
    height: 70px;
    background: url('./img/arrow-key.svg') no-repeat center;
    transform: scale(-1, 1) rotate(-30deg);
}

:global(.joyride-tooltip > *) {
    color: #fff;
    letter-spacing: 0.03em;
}

:global(.joyride-tooltip__triangle) {
    display: none;
}

:global(.joyride-beacon__inner) {
    animation: none;
}

:global(.joyride-beacon__outer) {
    animation: none;
}

:global(.joyride-tooltip__header) {
    padding: 0;
    border-bottom: none;
    font-size: 18px;
}

:global(.joyride-tooltip__footer) {
    margin-top: 20px;
    text-align: left;
}

:global(.joyride-tooltip__hole) {
    padding: 0;
}

:global(.joyride-tooltip__close) {
    display: block;
    top: -10px;
    right: -25px;
    width: 22px;
    height: 22px;
    background: url('./img/close-it-grey.svg') no-repeat center;
    transform: scale(1.5);
}

:global(.joyride-hole) {
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.86);
    transition: 0s;
}

:global(.joyride-hole::after) {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999;
    width: 100vw;
    height: 100vh;
}

:global(.joyride-overlay) {
    height: auto !important;
}

:global(.joyride-tooltip__button) {
    padding: 10px 16px;
    font-size: 18px;
}
