@value column-width, column-height from "css/dimensions.css";

.modal-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.modal {
    display: flex;
    min-width: 450px;
    max-width: 600px;
    flex-direction: column;
}

.form-header {
    margin-bottom: 80px;
}

.reb-logo {
    width: 350px;
    height: 70px;
    margin: auto;
    background-image: url('./img/reb_logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-name {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
}

.modal-header {
    color: #3f3149;
    font-size: 24px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}

.get-login {
    margin: auto 0;
    margin-top: 80px;
    text-decoration: none;
}

.get-login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin: 0 auto;
    color: #fff;
    font-size: 18px;
    /*text-transform: uppercase;*/
    background-image: linear-gradient(94deg, #09357e, #e72e92);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.message {
    width: 370px;
    margin: 0 auto;
    margin-top: 80px;
    padding: 15px;
    font-size: 13px;
    line-height: 1.54;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

@media (max-width: 520px) {
    .reb-logo {
        width: 175px;
        height: 35px;
    }
}
