.wrapper {
    width: 100%;
    padding: 16px 28px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.head {
    display: flex;
    align-items: center;
}

.money-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 1;
    width: 100%;
    padding-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.analytics-toggle {
    align-self: center;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-left: 34px;
    border-radius: 4px;
    background-color: white;
    background-image: url('./img/redgreen.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.money-info-item {
    display: flex;
    flex-direction: column;
    color: #636363;
    font-family: 'OpenSans-Light';
}

.money-info-item-caption {
    margin-bottom: 15px;
    margin-bottom: 1px;
    font-size: 14px;
    font-size: 12px;
}

.money-info-item-value {
    font-size: 24px;
    font-size: 22px;
    text-transform: capitalize;
}

.balance {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-top: 42px;
    color: #3e3048;
    font-size: 100px;
    line-height: 1;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
    margin-top: 42px;
}

.btn-row > div {
    display: flex;
    align-items: center;
}
