@value text-black from "css/colors.css";

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 23px;
    color: text-black;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #d8d8d8;
}

.list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 23px;
    margin-top: 20px;
}
