.date-line {
    display: flex;
    align-items: center;
    width: 100%;
    height: 34px;
    padding-left: 28px;
    color: #41334b;
    font-size: 14px;
    font-weight: bold;
    background-color: #f8f8f8;
    border-bottom: 1px solid #d8d8d8;
}
