.header {
    height: 150px;
    padding: 26px;
    border-bottom: 1px solid #d8d8d8;
}

.header-name {
    margin-bottom: 25px;
    color: text-black;
    font-size: 24px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter {
    display: flex;
    align-items: center;
}

.search {
    max-width: 446px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #d8d8d8;
    border-radius: 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('./img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 45px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.period {
    position: relative;
    display: flex;
    align-items: center;
    height: 45px;
    margin-left: 28px;
    padding-left: 8px;
    padding-right: 8px;
    color: #949494;
    font-size: 18px;
    white-space: nowrap;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.period-input {
    width: 100px;
    font-size: 18px;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

.daypicker {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
}

.calendar {
    position: relative;
    top: -1px;
    width: 22px;
    height: 24px;
    margin-left: 5px;
    background-image: url('./img/calendar-idle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.print {
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    font-size: 16px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.print > div:first-child {
    color: #949494;
}

.print-btn {
    position: relative;
    margin-left: 14px;
    color: #41334b;
    font-weight: 600;
    cursor: pointer;
}

.print-btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #41334b;
    opacity: 0;
    transition: opacity .5s ease-in;
}

.print-btn:hover::after {
    opacity: 1;
}
