.edit-wrapper {
    display: flex;
    align-items: center;
}

.cardname {
    width: auto;
    max-width: 100%;
    flex-shrink: 1;
    margin-right: 15px;
    font-size: 28px;
    border: 0;
    outline: none;
    border-bottom: 1px solid transparent;
    transition: border 0.25s ease-in-out, width 0.25s ease-in-out;

}

.cardname[data-active="true"] {
    width: 100% !important;
    border-bottom: 1px solid #41334b;
}

.buttons {
    display: flex;
    position: relative;
}

.buttons_is-active .btn-group {
    opacity: 1;
    visibility: visible;
}

.buttons_is-active .edit-btn {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0s;
}

.edit-btn {
    position: absolute;
    top: calc(50% - 32px / 2);
    left: 0;
    width: 32px;
    height: 32px;
    z-index: 2;
    flex-shrink: 0;
    background-image: url('./img/edit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out;
    transition-delay: 0.1s;
}

.btn-group {
    display: flex;
    flex-shrink: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.error {
    position: absolute;
    top: calc(100% + 8px);
    color: #d75342;
    font-size: 12px;
    line-height: 1;
}
