.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.btn {
    position: relative;
    width: 250px;
    height: 42px;
    margin-right: 50px;
    margin-right: 35px;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}

.btn:last-child {
    margin-right: 0;
}

.btn > div:first-child {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.btn[data-status="sign"] > div:first-child {
    background-image: linear-gradient(101deg, #fbda61, #f76b1c);
}

.btn[data-status="send"] > div:first-child {
    background-image: linear-gradient(279deg, #0058f8, #00adee);
}

.btn[data-status="error"] > div:first-child {
    background-image: linear-gradient(100deg, #f5515f, #ff0026);
}

.btn-text {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    font-size: 12px;
    color: #3e3048;
    background-color: #fff;
    border-radius: 6px;
}

.important-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 42px;
    color: #fff;
    font-size: 12px;
    background-image: linear-gradient(116deg, #f5515f, #ff0026);
    border-radius: 8px;
    cursor: pointer;
}

@media (max-height: 800px) {
    .btn {
        height: 36px;
        margin-right: 35px;
    }

    .btn-text {
        font-size: 12px;
    }

    .important-btn {
        height: 36px;
        font-size: 12px;
    }
}

@media (max-width: 1550px) {
    .btn {
        margin-right: 20px;
    }
}

@media (max-width: 1400px) {
    .btn {
        width: 230px;
        margin-right: 15px;
    }

    .btn-text {
        font-size: 11px;
    }

    .important-btn {
        font-size: 11px;
    }
}

@media (max-width: 1366px) {
    .btn {
        width: 210px;
    }

    .important-btn {
        width: 80px;
    }
}

.notification {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 55px;
    color: #353482;
    font-size: 16px;
    background-color: #fff;
}
