.select-send-type {
    position: relative;
    display: flex;
    align-items: center;
}

.select-send-type-btn {
    color: rgb(96, 180, 212);
    color: #3e3048;
    font-size: 14px;
    font-size: calc(12px + (14 - 12) * ((100vw - 1280px) / (1920 - 1280)));
    white-space: nowrap;
    cursor: pointer;
}

.select-send-type[data-disabled="true"] .select-send-type-btn {
    color: #000;
    border-bottom: 0;
    cursor: default;
}

.send-type-list {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 100;
    display: none;
    width: 180px;
    padding: 0;
    font-size: 14px;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    list-style: none;
}

.send-type-list[data-visible="true"] {
    display: block;
}

.send-type-list li {
    padding: 5px;
    cursor: pointer;
}

.send-type-list li[data-active="true"] {
    background-color: #eee;
}

.send-type-list li:hover {
    background-color: #e8e8e8;
}

.selected-send-type {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.triangle {
    position: relative;
    top: 2px;
    width: 0px;
    height: 0px;
    margin-left: 7px;
    border-top: 4px solid transparent;
    border-left: 4px solid #3e3048;
    border-bottom: 4px solid transparent;
}
