@value red-invalid-field from "css/colors.css";

.input-group {
    position: relative;
    height: 45px;
    margin-right: 20px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.input-group:last-child {
    margin-right: 0;
}

.input-group[data-disabled="true"] {
    background-color: #ddd;
    background-color: rgba(232, 232, 232, 0.5);
}

.input-group[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input-group label {
    position: absolute;
    top: 2px;
    left: 5px;
    color: #949494;
    font-size: 12px;
}

.input-group[data-invalid="true"] label {
    color: red-invalid-field;
}

.input-group input {
    width: 100%;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}
