@value column-width, column-height from "css/dimensions.css";
@value violet-gradient from "css/colors.css";

.menu {
    margin-top: column-height;
}

.menu > a {
    text-decoration: none;
}

.menu-item {
    position: relative;
    overflow: hidden;
    display: flex;
    height: column-height;
    min-height: 40px;
    padding-left: calc(column-width * 0.5);
    padding-right: calc(column-width * 0.5);
    align-items: center;
    color: #fff;
    color: #000;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #bfbfbf;
}

.menu > a:first-child .menu-item {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid #bfbfbf;
}

.active-link > .menu-item {
    /*
    color: #6b2a69;
    background-color: #fff;
    */
    color: #fff;
    background: violet-gradient;
    border-top: 0;
    border-bottom: 0;
}

.active-link > .menu-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: -14px;
    width: 14px;
    height: 100%;
    box-shadow: 0px 5px 20px 0px rgba(91, 36, 90, 0.65);
}

.unread-count {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: #fff;
    font-size: 12px;
    background-color: #d75342;
    border-radius: 100%;
}

.active-link .unread-count {
    color: #000;
    background-color: #fff;
}
