.container {
    width: 100%;
    padding: 3px;
    box-sizing: content-box;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.2s ease-in-out;
}

.container[data-open="true"] .head {
    background-color: #f8f8f8;
}

.container[data-open="true"] .toggle {
    transform: rotate(180deg);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fdfdfd;
    box-shadow: 0 0 4px 0 #d8d8d8;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.wrap {
    display: flex;
    align-items: center;
}

.chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: solid 5px black;
    box-sizing: border-box;
    border-radius: 50%;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #41334b;
}

.title {
    flex-grow: 1;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
    color: #41334b;
    margin-right: 20px;
}

.total {
    font-size: 16px;
    font-weight: 600;
    color: black;
    white-space: nowrap;
}

.toggle {
    margin-left: 24px;
    width: 18px;
    height: 9px;
    background-image: url('./img/fian-arrow.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease-in-out;
}

.content {
    padding-bottom: 6px;
}

.content-item {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 15px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fdfdfd;
    box-shadow: 0 0 4px 0 #d8d8d8;
}

.date {
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #41334b;
    white-space: nowrap;
}

.text {
    max-width: 80%;
    font-size: 12px;
    text-align: left;
    color: #41334b;
}

.value {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    color: black;
    white-space: nowrap;
}
