.filter-status {
    display: flex;
    width: 240px;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    color: #60b4d4;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.filter-status:last-child {
    margin-right: 0;
}
