.footer {
    margin-top: 20px;
    padding-right: 3.125vw;
    padding-bottom: 25px;
}

.footer > *:not(.gradient-top) {
    padding-left: 3.125vw;
}

.gradient-top {
    height: 2px;
    background: linear-gradient(90deg, #6753a8, #b8408a);
    margin-bottom: 25px;
}

.footer-blocks {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-block {
    width: 30%;
    color: #1d1d1d;
    font-size: 14px;
}

.footer-block-item {
    margin-bottom: 10px;
}

.footer-block-item:last-child {
    margin-bottom: 0;
}

.footer-block-item > div {
    margin-bottom: 5px;
}

.footer-block-item > div:last-child {
    margin-bottom: 0;
}

.icon-fb,
.icon-twitter {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-fb {
    margin-right: 15px;
    background-image: url('./img/fb.svg');
}

.icon-twitter {
    background-image: url('./img/twitter.svg');
}
