@value column-width, column-height from "css/dimensions.css";

.organizations-wrapper {
    position: relative;
    z-index: 20;
    display: flex;
    display: none;
    height: calc(column-height * 2);
    align-items: center;
}

.organization-logo {
    width: calc(column-height * 1.5);
    height: calc(column-height * 1.5);
    background-color: #fcb731;
    border-radius: 100%;
    transform: translateX(-50%);
}
