.payment-modal {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100000;
        width: 15px;
        height: 100%;
        background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.4));
    }
}

.payment-modal[data-visible="true"] {
    display: flex;
}

@media (max-width: 1500px) {
    .payment-modal {
        padding-right: 220px;
    }
}

@media (max-width: 1350px) {
    .payment-modal {
        padding-right: 125px;
    }
}

.payment-modal-wrapper {
    width: 100%;
    margin: auto;
    padding: 25px;
    padding: 0;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 100;
    color: #e8e8e8;
    font-size: 42px;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.close-modal:hover {
    color: #ccc;
}

.close {
    position: absolute;
    top: 32px;
    right: 28px;
    z-index: 1100;
    width: 17px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('./img/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close:hover {
    transform: rotateZ(180deg);
}
