@value text-black from 'css/colors.css';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 340px;
    /* width: 18%;
    min-width: 250px;
    max-width: 310px; */
    color: text-black;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.nav-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    font-size: 24px;
    border-bottom: 1px solid #d8d8d8;
}

.menu-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 20px;
    color: text-black !important;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid #d8d8d8;
}

.active-link {
    background-color: #f8f8f8;
}
