.wrapper {
    position: relative;
    display: flex;
    width: 350px;
    height: 50px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.icon-wrapper {
    width: 50px;
    height: 100%;
    background-color: #3f3149;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px 0 0 2px;
}

.input {
    width: 300px;
    height: 100%;
    padding-left: 15px;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    border: 0;
    border-radius: 0 2px 2px 0;
    outline: none;
}

.error-msg {
    position: absolute;
    top: 65px;
    left: 50px;
    color: #d75342;
    font-size: 12px;
    line-height: 1;
    white-space: pre;
}

@media (max-width: 520px) {
    .wrapper {
        width: 270px;
        box-sizing: border-box;
    }

    .icon-wrapper {
        width: 50px;
        height: 100%;
        background-color: #3f3149;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
    }

    .input {
        width: 220px;
        height: 100%;
        padding-left: 15px;
        font-family: 'OpenSans-Regular';
        font-size: 18px;
        border: 0;
        border-radius: 0 2px 2px 0;
        outline: none;
    }

}