.container {
    padding: 28px 20px;
}

.wrap {
    position: relative;
    display: flex;
    align-items: stretch;
}

.information-content {
    width: 100%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: 20px;
    position: relative;
    font-size: 14px;
    font-size: calc(10px + (14 - 10) * ((100vw - 1280px) / 640));
}

.form {
    position: relative;
    flex-shrink: 0;
}

.title {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.card {
    position: relative;
    flex-shrink: 0;
    width: 470px;
    height: 298px;
    margin-bottom: 25px;
    background-image: url('./img/megacard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-number {
        position: absolute;
        top: 120px;
        left: 30px;
        color: #fff;
        font-size: 36px;
        letter-spacing: 3px;
    }

    &-expire {
        position: absolute;
        bottom: 75px;
        right: 155px;
        color: #fff;
        font-size: 22px;
    }

    &-holder {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: #fff;
        font-size: 18px;
    }
}

.group {
    max-width: 470px;
    margin-bottom: 32px;
}

.group:last-child {
    margin-bottom: 0;
}

.group-title {
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #000;
}

.group-row {
    display: flex;
    align-items: center;
}

.group-row > * {
    width: 100%;
    flex-shrink: 1;
}

.group-content {}

.group-union {
    position: relative;
}

.group-content > *,
.group-union > * {
    margin-bottom: 20px;
    margin-right: 0 !important;
}

.group-content > *:last-child {
    margin-bottom: 0;
}

.checkbox {
    position: absolute;
    z-index: 10;
    left: calc(100% + 20px);
    top: calc(50% - 20px / 2);
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #3e3048;
    cursor: pointer;
}

.checkbox-icon::before,
.checkbox-icon::after {
    content: '';
    position: relative;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #3e3048;
}

.checkbox-source ~ .checkbox-icon::before {
    top: 2px;
    transform: rotate(-45deg);
}

.checkbox-source ~ .checkbox-icon::after {
    top: -1px;
    transform: rotate(45deg);
}

.checkbox-icon::after {
    margin-top: 2px;
}

.checkbox-source {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.checkbox-source:checked ~ .checkbox-icon::before {
    top: 0;
    transform: rotate(0);
}

.checkbox-source:checked ~ .checkbox-icon::after {
    top: 0;
    transform: rotate(0);
}
