.progress {
    position: relative;
    border: solid 1px #c6c6c6;
    border-radius: 3px;
    cursor: pointer;
    min-height: 11px;
    background-color: #efefef;
    width: 100%;
    
    &__line {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        height: 100%;
        background-image: linear-gradient(to left, #67c4a2, #b5f3c1);
        transition: width 1.2s ease-in-out;
    }

    &__info {
        position: relative;
        z-index: 10;
        display: block;
        width: 100%;
        height: 100%;
        color: #000;
        font-size: 11px;
        line-height: 22px;
        text-align: center;
        white-space: nowrap;
    }

    &__error {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        font-size: 12px;
        padding: 5px;
        background-color: #c46767;
    }

    &__tooltip {
        position: absolute;
        left: 0%;
        top: calc(100% + 12px);
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px 10px;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }

    &__tooltip::before {
        content: '▼';
        position: absolute;
        bottom: calc(100% - 4px);
        left: calc(50% - 24px / 2);
        box-sizing: border-box;
        width: 24px;
        height: 12px;
        color: #fff;
        font-size: 14px;
        line-height: 1;
        /* text-shadow: 0 2px 2px rgba(0, 0, 0, .1); */
        transform: scaleX(2) rotate(180deg);
    }

    &__tooltip-text_error {
        color: #c46767;
    }

    &__tooltip-text {
        font-size: 12px;
        margin-bottom: 4px;
    }

    &__tooltip-text:first-child {
        margin-bottom: 6px;
    }

    &__tooltip-text:last-child {
        margin-bottom: 0;
    }

    &:hover &__tooltip {
        opacity: 1;
        visibility: visible;
    }
}