.radio-buttons {
    display: flex;
    align-items: center;
    padding: 23px 28px;
    background: #f8f8f8;
}

.radio-buttons > * {
    margin-right: 22px;
}

.radio-buttons > *:last-child {
    margin-right: 0;
}

.radio {}

.radio-input {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.radio-label {
    position: relative;
    display: block;
    min-width: 72px;
    padding: 8px 14px;
    border-radius: 6px;
    background-color: white;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    color: #3e3048;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.radio-input:checked + .radio-label {
    color: white;
    background-color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.navigation {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background: rgba(248, 248, 248, 0.5);
}

.navigation[data-theme="month"] .navigation-title {
    color: white;
}

.navigation[data-theme="month"] .navigation-button {
    background-image: url('./img/arrow-white.svg');
}

.navigation[data-theme="year"] .navigation-title {
    color: #3e3048;
}

.navigation[data-theme="year"] .navigation-button {
    background-image: url('./img/arrow-black.svg');
}

.navigation-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 60px;
    width: 100%;
    background: #c3c3c3;
}

.navigation-titles {
    position: relative;
    z-index: 5;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.navigation-title {
    display: inline-block;
    width: 100%;
    padding: 16.5px 28px;
    font-size: 20px;
    color: white;
    white-space: normal;
}

.navigation-title::first-letter {
    text-transform: uppercase;
}

.navigation-buttons {
    position: absolute;
    right: 0;
    top: 0;
    flex-shrink: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 16.5px 24px;
    height: 60px;
}

.navigation-buttons > * {
    margin-right: 4px;
}

.navigation-buttons > *:last-child {
    margin-right: 0;
}

.navigation-button {
    width: 20px;
    height: 14px;
    background-image: url('./img/arrow-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.navigation-button[data-direction="backward"] {
    transform: rotate(-90deg);
}

.navigation-button[data-direction="forward"] {
    transform: rotate(90deg);
}

.week {
    display: flex;
    align-items: center;
}

.week-item {
    display: block;
    flex-shrink: 0;
    width: calc(100% / 7);
    padding-top: 11px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: right;
    color: #3e3048;
}

.content {
    max-width: 100%;
    overflow: hidden;
}

.row {
    width: auto;
    white-space: nowrap;
}

.row-item {
    flex-shrink: 0;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    white-space: normal;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    width: calc(100% / 7);
    height: calc(500px / 7);
    border-top: solid 1px #d0d0d0;
    border-left: solid 1px #d0d0d0;
    padding: 6px 9px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
    text-align: right;
    color: #3e3048;
    transition: all 0.2s ease-in-out;
}

.day:nth-child(7n+1) {
    border-left: none;
}

.day:nth-child(7n - 1),
.day:nth-child(7n) {
    background: #f8f8f8;
}

.day[data-type="disabled"] {
    pointer-events: none;
    color: rgba(62, 48, 72, 0.5);
    cursor: default;
}

.day[data-type="current"] {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1);
}

.day[data-type="active"] {
    border-radius: 3px;
    background-color: white;
    color: #7facfb;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.day-events {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
}

.day[data-type="disabled"] .day-events {
    filter: grayscale(1);
    opacity: 0.5;
}

.day-events > * {
    margin-right: 6px;
}

.day-events > *:last-child {
    margin-right: 0;
}

.event-type {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
}

.event-type[data-type="pay"] {
    background: #00aeee;
}

.event-type[data-type="invoice"] {
    background: #14ccb2;
}

.event-type[data-type="note"] {
    background: #ca2f90;
}

.month {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: calc(100% / 4);
    height: 153px;
    border-top: solid 1px #d0d0d0;
    border-left: solid 1px #d0d0d0;
    padding: 6px 9px;
    box-sizing: border-box;
    background: #fff;
    font-size: 14px;
    line-height: 1em;
    font-weight: 600;
    text-align: right;
    color: #3e3048;
    transition: all 0.2s ease-in-out;
}

.month[data-type="current"] {
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 1);
}

.month:nth-child(4n+1) {
    border-left: none;
}

.month-name {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #3e3048;
}

.month-name::first-letter {
    text-transform: uppercase;
}

.month-events {
    position: absolute;
    left: 0;
    bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
}

.month-events > * {
    margin-right: 6px;
}

.month-events > *:last-child {
    margin-right: 0;
}
