.container {
    padding: 28px 20px;
    border-bottom: dashed 1px #000;
}

.title {
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    color: #2f2637;
}

.description {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
    color: #000;
}

.link {
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    color: inherit;
}

.subtitle {
    margin: 25px 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.buttons {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.buttons > * {
    margin-right: 25px;
}

.buttons > *:last-child {
    margin-right: 0;
}

.button {
    position: relative;
    z-index: 1;
    display: block;
    border: none;
    width: auto;
    padding: 14px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #000;
    line-height: normal;
    user-select: none;
    outline: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}

.button::before,
.button::after {
    content: ' ';
    position: absolute;
}

.button::before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    border-radius: 8px;
}

.button::after {
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    border-radius: 6px;
    background-color: white;
    z-index: -1;
    opacity: 1;
}

.button_active {}

.button_active::before {
    background-size: 400% 400%;
    animation: gradient 3.5s ease-in-out infinite;
}

.button_disabled {
    pointer-events: none;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(1);
    opacity: 0.5;
}

.button_theme_blue {
    background-image: linear-gradient(279deg, #0058f8, #00adee);
}

.button_theme_blue.button_active::before {
    background-image: linear-gradient(279deg, #0058f8, #7fd6f7, #0058f8);
}

.button_theme_yellow {
    background-image: linear-gradient(135deg, #fad961, #f76b1c);
}

.button_theme_yellow.button_active::before {
    background-image: linear-gradient(279deg, #fad961, #f76b1c, #fad961);
}

.button_theme_green {
    background-image: linear-gradient(135deg, #3ddbc6, #23c9a4);
}

.button_theme_green.button_active::before {
    background-image: linear-gradient(279deg, #3ddbc6, #23c9a4, #3ddbc6);
}

/* motion */
@-webkit-keyframes gradient {
    0% {
        background-position: 14% 0%;
    }

    50% {
        background-position: 87% 100%;
    }

    100% {
        background-position: 14% 0%;
    }
}

@keyframes gradient {
    0% {
        background-position: 14% 0%;
    }

    50% {
        background-position: 87% 100%;
    }

    100% {
        background-position: 14% 0%;
    }
}
