@value text-black from "css/colors.css";

.header {
    color: text-black;
    margin-bottom: 50px;
}

.certificates-list-table {

}

.certificates-list {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    color: text-black;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    font-weight: 600;
}

.table-header tr {
    vertical-align: top;
}

.table-header td {
    padding: 15px 20px 15px 0;
}

.subtext {
    font-size: 10px;
}

.table-row {
    color: text-black;
    font-family: 'OpenSans-Regular';
    font-size: 19px;
    border-bottom: 1px solid #d8d8d8;
}

.table-row td {
    padding: 15px 20px 15px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-row td[data-field="end-date"] {
    white-space: nowrap;
}


/* .table-row td[data-field="id"] {
    min-width: 80px;
}

.table-row td[data-field="subject"] {
    min-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-row td[data-field="date"] {
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

.table-row td[data-field="end-date"] {
    width: 260px;
    min-width: 260px;
    max-width: 260px;
}

.table-row td[data-field="status"],
.table-row td[data-field="type"] {
    min-width: 120px;
} */

.table-row td[data-field="import"] {
    color: #60b4d4;
    cursor: pointer;
}

.track-horizontal {
    position: absolute;
    right: 2px;
    bottom: column-height;
    bottom: 5px;
    left: 2px;
    height: 8px !important;
    border-radius: 10px;
}
/*
.track-horizontal::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.5px);
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
}
*/
.thumb-horizontal {
    z-index: 10;
    background-color:  rgba(0, 0, 0, 0.3);
    border-radius: inherit;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.action-btn-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.regen-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 30px;
    color: #979797;
    font-size: 12px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
}

.import-on-token {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    background-image: url('./img/import_b.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.import-on-token[data-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
}

@media screen and (max-width: 1500px) {
    .table-header {
        font-size: 14px;
    }

    .table-row {
        font-size: 18px;
    }
}

@media screen and (max-width: 1370px) {
    .table-row {
        font-size: 16px;
        display: block;
    }

    .table-row td {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-shrink: 1;
        text-align: left;
        white-space: normal;
    }

    .table-row td::before {
        content: attr(data-name);
        display: block;
        width: 30%;
        min-width: 140px;
        margin-right: 30px;
        flex-shrink: 0;
        font-weight: 600;
        font-size: 14px;
    }

    .table-row td[data-field="end-date"] {
        white-space: normal;
    }


    .table-header {
        display: none;
    }



}
