.menu {
    width: 100%;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    position: relative;
    margin-right: 25px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.link::after {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 2px;
    background: transparent;
}

.link:last-child {
    margin-right: 0;
}

@media (max-width: 1920px) {
    .link {
        font-size: 16px;
    }
}

@media (max-height: 800px) {
    .link {
        padding-bottom: 5px;
        font-size: 16px;
    }
}

.active-link {
    position: relative;
    color: #fff;
}

.active-link::after {
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
