.company {
    display: flex;
    align-items: center;
    width: 340px;
    width: 100%;
    min-height: 80px;
    padding: 16px;
    overflow: hidden;
    font-size: 16px;
    border-bottom: 1px solid #d8d8d8;
}

.company > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
