.bottom-bar {
    position: relative;
    z-index: 500;
    display: flex;
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-color: #fff;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
}

/* @media (max-width: 1920px) {
    .bottom-bar {
        height: 80px;
        min-height: 80px;
    }
} */

@media (max-height: 800px) {
    .bottom-bar {
        height: 60px;
        min-height: 60px;
    }
}
