@value text-black from "css/colors.css";

.header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    padding-left: 35px;
    color: text-black;
    font-size: 22px;
    border-bottom: 1px solid #d8d8d8;
}
