.date-range-input {

}

.input-group {
    position: relative;
    height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border: 1px solid #afa7a9;
}

.input-group input {
    width: 100%;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.input-group-date {
    display: flex;
    flex-basis: calc(calc(100% - 20px) / 3);
    min-width: 400px;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.input-group-date span {
    align-self: flex-end;
    font-size: 16px;
}

.input-label {
    position: absolute;
    top: 4px;
    left: 10px;
    color: #75777a;
    font-size: 12px !important;
}
