@value modal-outside-background from "css/colors.css";

.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
    width: 100vw;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #22163ddd;
    background: modal-outside-background;
    overflow-y: auto;
}

.modal-wrapper--visible {
    display: flex;
}

.modal-container {
    position: relative;
    max-width: 95%;
    padding: 25px;
    padding-top: 30px;
    font-family: 'OpenSans-Regular';
    background-color: #f6f6f6;
    background-color: #efefef;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #e8e8e8;
    font-size: 24px;
    line-height: 1;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.close-modal:hover {
    color: #ccc;
}

.modal-container > h3 {
    margin-bottom: 20px;
}
