@value text-black from "css/colors.css";

.wrapper {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 500px;
    height: 100%;
    background-color: #fff;
    border-left: 1px solid #d8d8d8;
}

.decline-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding-left: 28px;
    padding-right: 28px;
    color: #d75342;
    background-color: #fff;
}

.decline-info-header {
    display: flex;
    align-items: center;
    height: 80px;
    font-size: 22px;
}

.decline-info-text {
    font-size: 16px;
}

.content-wrapper {
    flex-grow: 1;
    height: 100%;
    height: 50%;
}

.template-list {
    padding-left: 28px;
    padding-right: 28px;
}

.template-item {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    color: text-black;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid #d8d8d8;
    cursor: pointer;
}

.template-item:first-child {
    border-top: 0;
}

.template-item:last-child {
    border-bottom: 1px solid #d8d8d8;
}

.template-item[data-editable="true"] {

}

.search {
    min-height: 90px;
    padding-top: 28px;
    padding-left: 28px;
    padding-right: 28px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #d8d8d8;
    border-radius: 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('./img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 45px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.search-input:focus {

}

.edit-template-name-form {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.edit-template-name-input {
    width: 100%;
    color: text-black;
    font-size: 16px;
    border: 0;
    outline: none;
}

.editable-template-btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.template-error {
    position: absolute;
    top: 100%;
    color: #ff3b30;
    font-size: 12px;
}

@media (max-width: 1500px) {
    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        transform: translateX(280px);
        transition: transform .7s ease;
        &:hover {
            transform: translateX(0);
        }
    }
}

@media (max-width: 1350px) {
    .wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        transform: translateX(375px);
        transition: transform .8s ease;
        &:hover {
            transform: translateX(0);
        }
    }
}
