.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    transition: opacity .5s ease;
}

.wrapper[data-visible="true"] {
    display: flex;
}

.wrapper[data-fade="true"] {
    opacity: 1;
}

.wrapper > form {
    width: 456px;
}

.header {
    margin-bottom: 25px;
    color: #3e3048;
    font-size: 22px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
