.container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 78px;
}

.row {
    margin-bottom: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    white-space: nowrap;
}

.row:last-child {
    margin-bottom: 0;
}

.row > * {
    flex-shrink: 1;
    margin-right: 45px;
    font-weight: 600;
    font-size: 20px;
    color: #3e3048;
}

.row > *:last-child {
    margin-right: 0;
}

.info {
    width: 170px;
}

.change-button {
    border: none;
    margin-top: 20px;
    padding: 6px;
    width: auto;
    overflow: visible;
    background: transparent;
    font-size: 10px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
    line-height: normal;
    cursor: pointer;
    outline: none;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
}
