.table-row {
    height: 70px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    border-bottom: 1px solid #e8e8e8;
}

.table-row[data-clickable="true"]:hover {
    background-color: rgba(245, 245, 245, 0.8);
    cursor: pointer;
}

.table-row td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-row td[data-visible="false"] {
    display: none;
}

.table-row td:first-child {
    /*min-width: 50px;*/
    max-width: 1px;
    overflow: hidden;
    /*padding: 0;*/
}
