.input[data-password="true"] {
    font-family: 'password';
}

.input[data-password="true"]::-webkit-input-placeholder {
    font-family: 'OpenSans-Regular' !important;
}

.input[data-password="true"]:-ms-input-placeholder {
    font-family: 'OpenSans-Regular' !important;
}

.input[data-password="true"]::-ms-input-placeholder {
    font-family: 'OpenSans-Regular' !important;
}

.input[data-password="true"]::placeholder {
    font-family: 'OpenSans-Regular' !important;
}
