@value text-black from "css/colors.css";

.header {
    margin: 20px 25px;
    color: text-black;
    font-size: 24px;
}

.wrapper {
    border-top: 1px solid #d8d8d8;
    padding: 20px 25px;
}

.item-wrapper {
    margin-top: 35px;
}

.item-wrapper:first-child {
    margin-top: 0;
}

.item-caption {
    margin-bottom: 20px;
    color: text-black;
    font-size: 14px;
}

.item-value {
    color: text-black;
    font-size: 20px;
}

.item-account:not(:last-child) {
    margin-bottom: 15px;
}
