<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>РосЕвроБанк</title>
    {{#if needStyle}}
        <link rel="stylesheet" href="/public/css/build.css" />
    {{/if}}
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
            overflow: hidden;
        }

        #app {
            position: relative;
            overflow-x: hidden;
            height: 100%;
        }

        #old-browser {
            position: relative;
            top: 50%;
            height: 465px;
            margin-top: -240px;
            font-family: 'OpenSans-Light';
        }

        #old-browser img {
            border: 0;
        }

        #old-browser > div {
            width: 100%;
            font-size: 22px;
            text-align: center;
        }

        #old-browser .reb-logo {
            display: block;
            width: 250px;
            margin: auto;
        }

        #old-browser .info-message {
            margin-top: 120px;
        }

        #old-browser .info-message > div:first-child {
            font-family: 'OpenSans-Regular';
        }

        #old-browser .browser-download {
            margin-top: 120px;
        }

        .browser-download > div:first-child {
            margin-bottom: 5px;
        }

        .browser-download a {
            margin-left: 30px;
            border: 0 !important;
            text-decoration: none !important;
        }

        .browser-download a:first-child {
            margin-left: 0;
        }
    </style>
</head>
<body>
    <div id="old-browser" style="display: none;">
        <div>
            <img class="reb-logo" src="/server/img/reb_logo.png" />
            <div class="info-message">
                <div>
                    Для обеспечения вашей безопасности интернет-банк для бизнеса<br />
                    работает в последних версиях популярных браузеров
                </div>
                <div>
                    Chrome, Firefox, Internet Explorer 11, Edge, Opera, Safari
                </div>
            </div>
            <div class="browser-download">
                <div>
                    Скачать последнюю версию браузера вы можете тут
                </div>
                <div>
                    <a href="https://www.google.ru/chrome/browser/desktop/">
                        <img src="/server/img/chrome_color.png" />
                    </a>
                    <a href="https://www.mozilla.org/ru/firefox">
                        <img src="/server/img/firefox_color.png" />
                    </a>
                    <a href="https://support.microsoft.com/ru-ru/help/18520/download-internet-explorer-11-offline-installer">
                        <img src="/server/img/internet-explorer_color.png" />
                    </a>
                    <a href="https://www.microsoft.com/ru-ru/windows/microsoft-edge">
                        <img src="/server/img/edge_color.png" />
                    </a>
                    <a href="http://www.opera.com/ru">
                        <img src="/server/img/opera_color.png" />
                    </a>
                    <a href="https://support.apple.com/en-us/HT204416">
                        <img src="/server/img/safari_color.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="app"></div>
    <input type="hidden" id="csrf-token" name="csrf-token" value="{{csrfToken}}" />
    <input type="hidden" id="application-version" name="application-version" value="{{appVersion}}" />
    <script>
        var oldBrowserDiv = document.getElementById('old-browser');
        try {
            eval('const a = 1');
            appendScript();
        } catch (err) {
            var div = document.createElement('div');
            if ('flex' in div.style) {
                appendScript();
            } else {
                oldBrowserDiv.style.display = 'block';
            }
        }
        function appendScript() {
            var script = document.createElement('script');
            script.setAttribute('src', '/public/js/build.js');
            document.body.appendChild(script);
            oldBrowserDiv.parentNode.removeChild(oldBrowserDiv);
        }
    </script>
</body>
</html>
