.item {
    position: relative;
    width: 600px;
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.list {
    margin-top: 40px;
}

.info {
    position: absolute;
    top: 0;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 100%;
}

.info-title {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: #41334b;
}

.info-value {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #41334b;
}

.button {
    display: block;
    width: 100%;
    padding: 13.5px 3px;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 8px;
    background: white;
    font-size: 18px;
    font-weight: 600;
    color: #41334b;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 4px 0 #d8d8d8;
    transition: height 0.2s ease-in-out;
}

@media (max-width: 1520px) {
    .item {
        width: 500px;
    }
}

@media (max-width: 1320px) {
    .item {
        width: 100%;
        margin-bottom: 30px;
    }

    .item:last-child {
        margin-bottom: 0;
    }
}

.pie-tooltip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 400px;
    padding: 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);
    pointer-events: none;
}

.pie-tooltip-info {

}

.pie-tooltip-contragent {
    font-size: 12px;
    font-weight: 600;
}

.pie-tooltip-sum {
    margin-top: 5px;
    font-size: 14px;
}

.pie-tooltip-percent {
    margin-left: 35px;
    font-size: 14px;
    font-weight: 600;
}

.pie-sector {
    opacity: 1;
    stroke-opacity: 1;
    stroke-width: 0px;
    transition:
        opacity .2s ease-in,
        stroke-opacity .2s ease-in,
        stroke-width .2s ease-in;
    will-change: opacity;
}

.pie-sector:hover {
    opacity: 0.7;
    stroke-opacity: 0.7;
    stroke-width: 1px;
}
