.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    min-height: 80px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    padding: 24px 28px;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
    color: #3e3048;
    font-size: 22px;
    font-size: calc(18px + (22 - 18) * ((100vw - 1280px) / (1920 - 1280)));
    white-space: nowrap;
}

.content {
    flex: 1 auto;
    padding: 24px 28px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: calc(100% - 500px);
    padding: 24px 28px;
}

.footer :only-child {
    margin-left: auto;
}
