.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.tab-list {
    display: flex;
}

.tab {
    position: relative;
    margin-right: 36px;
    color: rgba(62, 48, 72, 0.7);
    font-size: 18px;
    font-size: calc(14px + (18 - 14) * ((100vw - 1280px) / (1920 - 1280)));
    white-space: nowrap;
    cursor: pointer;
}

.tab:last-child {
    margin-right: 0;
}

.tab[data-active="true"] {
    color: rgba(62, 48, 72, 1);
}

.tab[data-active="true"]::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3e3048;
}

.params-list {
    display: flex;
    align-items: center;
}

.urgen-wrapper {
    position: relative;
    align-self: flex-end;
    margin-left: 25px;
}

.urgen-wrapper[data-disabled="true"] {
    top: 0px;
}

.urgen-btn {
    color: #3e3048;
    font-size: 14px;
    font-size: calc(12px + (14 - 12) * ((100vw - 1280px) / (1920 - 1280)));
    white-space: nowrap;
    cursor: pointer;
}

.urgen-btn span {
    font-weight: 600;
}

.urgen-wrapper[data-disabled="true"] .urgen-btn {
    color: #000;
    border-bottom: 0;
    cursor: default;
}

.urgen-list {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    display: flex;
    display: none;
    width: 130px;
    align-items: center;
    justify-content: space-between;
    color: #949494;
    font-size: 14px;
}

.urgen-list[data-visible="true"] {
    display: flex;
}

.urgen-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.urgen-item:hover {
    background-color: rgba(204, 204, 204, 0.5);
    cursor: pointer;
}

.urgen-item[data-active="true"] {
    color: #fff;
    background-color: #60b4d4;
    background-image: linear-gradient(121deg, #0a357e, #e72e92);
}

.input-hint {
    margin-left: 70px;
}

.input-hint-btn {
    width: 18px;
    height: 18px;
    background-image: url('./img/help-idle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.input-hint[data-disabled="true"] .input-hint-btn {
    background-image: url('./img/help-active.png');
}
