.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.toggle[data-hidden="true"] {
    display: none;
}

.toggle-track {
    position: relative;
    top: 1px;
    width: 40px;
    height: 16px;
    background: rgba(205, 205, 205, 0.6);
    border-radius: 25px;
    cursor: pointer;
}

.toggle[data-disabled="true"] .toggle-track {
    cursor: no-drop;
}

.toggle-thumb {
    position: relative;
    top: -2px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    transform: translateX(0px);
    transition: transform .2s ease-in;
    will-change: transform;
}

.toggle-thumb[data-toggled="true"] {
    transform: translateX(20px);
}

.toggle[data-disabled="true"] .toggle-thumb {
    background-color: #eee;
}
