.banner {
    width: 600px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
}

.banner__item {
    position: relative;
    width: 50%;
    height: calc(100% - 72%);
    border-right: 1px solid black;
}

.banner__item:first-child {
    width: 100%;
    height: calc(100% - 28%);
    border-right: none;
    border-bottom: 1px solid black;
}

.banner__item:last-child {
    border-right: 0.5px solid transparent;
}

.banner__item:hover .banner__background::after {
    background: rgba(0, 0, 0, 0.3);
}

.banner__item:hover .banner__background-source {
    transform: scale(1.1);
}

.banner__item:first-child .banner__title {
    margin-top: 150px;
    margin-bottom: 23px;
    font: 600 40px 'OpenSans-Regular';
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.banner__item:first-child .banner__description {
    font: 400 24px 'OpenSans-Regular';
    color: rgb(255, 255, 255);
    pointer-events: none;
}

.banner__item:first-child .banner__button {
    display: block;
}

.banner__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.banner__background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: background 0.6s ease-in-out;
}

.banner__background-source {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.6s ease-in-out;
}

.banner__content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 14px;
}

.banner__content > * {
    max-width: 100%;
    flex-shrink: 1;
}

.banner__content a {
    text-decoration: none;
}

.banner__title {
    min-height: 70px;
    margin-bottom: 19px;
    font: 400 24px 'OpenSans-Regular';
    color: rgb(255, 255, 255);
}

.banner__description {
    min-height: 60px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    white-space: pre-line;
}

.banner__button {
    display: none;
    margin-top: 115px;
    padding: 13.5px 31px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    border: solid 1px rgb(255, 255, 255);
    transition: background 0.2s ease-in-out;
}

.banner__button:hover {
    background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 1260px) {
    .banner {
        width: 460px;
    }
}

@media (max-width: 1000px) {
    .banner {
        display: none;
    }
}
