.wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    width: 1px;
    height: 100%;
}

.menu-btn {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 100;
    cursor: pointer;
}

.menu-btn > div {
    width: 30px;
    height: 4px;
    margin-bottom: 4px;
    background-color: #3f3149;
    background-image: none;
    border-radius: 2px;
}

.menu-btn > div:last-child {
    margin-bottom: 0;
}

.menu-btn[data-active="true"] > div {
    background-image: linear-gradient(94deg, #09357e, #e72e92);
}

.menu {
    position: relative;
    width: 335px;
    height: 100%;
    padding-top: 90px;
    background-color: #f0f0f0;
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2) inset;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.menu[data-visible="true"] {
    transform: translateX(-335px);
}

.menu a {
    text-decoration: none;
}

.menu-item {
    position: relative;
    width: 100%;
    padding-left: 35px;
    padding-top: 15px;
    padding-right: 35px;
    padding-bottom: 15px;
    color: rgba(63, 49, 73, 0.45);
    background-color: transparent;
    transition: background-color 0.3s ease-in;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #e6e6e6;
}

.menu-item--active {
    color: #3f3149 !important;
}

.menu-item--active a {
    color: #3f3149 !important;
}

.menu-item--active::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% - 70px);
    height: 1px;
    background-color: #3f3149;
}

.menu-item a {
    color: rgba(63, 49, 73, 0.45);
    text-decoration: none;
}

.menu-item-name {
    font-size: 18px;
    font-weight: 600;
}

.menu-item-desc {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
}

@media (max-width: 520px) {
    .menu {
        padding-top: 35px;
    }

    .menu-btn {
        top: 15px;
        right: 15px;
    }

    .menu-btn > div {
        width: 20px;
        height: 3px;
        margin-bottom: 3px;
    }
}
