@value column-width, column-height from "css/dimensions.css";

.chat-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    display: flex;
    height: calc(column-height * 2);
    min-height: 110px;
    align-items: center;
}

.chat-link {
    cursor: pointer;
}

.chat-icon {
    width: 70px;
    height: 70px;
    background-color: #fff;
    background-color: rgba(245, 245, 245);
    background-image: url('./chat_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px 31px;
    border-radius: 100%;
    transform: translateX(-20%);
}

.chat-icon::before {
    /*
    content: "";
    */
    position: absolute;
    z-index: 30;
    width: 15px;
    height: 64px;
    box-shadow: 2px 0px 17px rgba(91, 36, 90, 0.65);
    transform: translateX(-2px);
}

.chat-text {
    color: #000;
    font-size: 12px;
}
