@value text-black from "css/colors.css";

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.mail-list-wrapper {
    flex-grow: 1;
    height: 100%;
}

.header {
    height: 150px;
    margin-bottom: 20px;
    padding: 26px;
    border-bottom: 1px solid #d8d8d8;
}

.header-name {
    margin-bottom: 25px;
    color: text-black;
    font-size: 24px;
}

.mail-list {
    padding: 26px;
    padding-top: 0;
}

.filter {
    display: flex;
    align-items: center;
}

.search {
    max-width: 446px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #d8d8d8;
    border-radius: 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('./img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 45px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.period {
    height: 45px;
    border: 1px solid #d8d8d8;
}

.toggle {
    display: flex;
    width: 142px;
    margin-left: auto;
    margin-right: 12px;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 6.5px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    text-align: left;
    color: #41334b;
    background: #f8f8f8;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.toggle:hover {
    background: #f1f1f1;
}

.toggle[data-active="true"] {
    color: #41334b;
    border: 1px solid #3e3048;
}

.toggle[data-active="true"]:hover {
    background: #f8f8f8;
}

.subtitle {
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}
