.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.message {
    width: 350px;
    height: 146px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 25px;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.14);
}

.message-header {
    color: #d75342;
    font-size: 18px;
    line-height: 1.39;
}

.message-body {
    margin-top: 20px;
    color: #000000;
    font-size: 13px;
    line-height: 1.79;
}

.change-password-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 50px;
    margin-top: 50px;
    color: #fff;
    font-size: 18px;
    background-image: linear-gradient(to right, #09357e, #e72e92);
    border-radius: 2px;
    cursor: pointer;
}
