.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 456px;
    margin-top: 35px;
    padding-left: 35px;
    padding-bottom: 23px;
    box-sizing: content-box;
}
