.wrapper {
    display: flex;
    padding-left: 35px;
    padding-top: 25px;
}

.form {
    width: 456px;
}

.kontur-data {
    margin-left: 25px;
    font-size: 14px;
}

.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.kontur-info {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 42px;
    height: 42px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    cursor: pointer;
}

.contragent-kontur {
    position: relative;
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border-radius: 100%;
}

.contragent-kontur[data-facts="green"] {
    background-image: linear-gradient(135deg, #3ddbc6, #23c9a4);
}

.contragent-kontur[data-facts="yellow"] {
    background-image: linear-gradient(135deg, #fad961, #f7c61c);
}

.contragent-kontur[data-facts="red"] {
    background-image: linear-gradient(135deg, #f5515f, #ff0026);
}

.contragent-kontur[data-facts="grey"] {
    background-image: linear-gradient(135deg, #959595, #484848);
}

.contragent-kontur[data-facts="grey"]::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background-color: #fff;
    border-radius: 100%;
}
