@value red-invalid-field from "css/colors.css";

.input-textarea {
    position: relative;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.input-textarea[data-disabled="true"] {
    background-color: #ddd;
    background-color: rgba(232, 232, 232, 0.5);
}

.input-textarea[data-show-symbol="true"] {
    padding-bottom: 15px;
}

.input-textarea[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input-group:last-child {
    margin-right: 0;
}

.input-top {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
}

.input-textarea label {
    /*
    position: absolute;
    top: 6px;
    left: 10px;
    */
    margin-right: 5px;
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-textarea[data-invalid="true"] label {
    color: red-invalid-field;
}

.input-textarea textarea {
    width: 100%;
    max-width: 100%;
    height: 120px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    resize: none;
    outline: none;
    overflow: hidden;
}

.symbol-left {
    position: absolute;
    right: 5px;
    bottom: 0px;
    color: #75777a;
    font-size: 12px;
}

.symbol-left[data-show-warning="true"] {
    color: #d62351;
}

.input-textarea[data-invalid="true"] .symbol-left {
    color: red-invalid-field;
}
