.wrapper {
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #d8d8d8;
}

.wrapper:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.row:not(:last-child) {
    margin-bottom: 10px;
}

.row > div:last-child {
    font-weight: 600;
}
