@value text-black from "css/colors.css";

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    z-index: 9999999;
    padding: 50px;
    box-sizing: border-box;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.container[data-visible="true"] {
    opacity: 1;
    visibility: visible;
}

.wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(39, 27, 27, 0.5);
}

.content {
    position: relative;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 40px;
    max-width: 800px;
    min-width: 420px;
    flex-shrink: 0;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.content a {
    color: black;
    text-decoration: none;
}

.header {
    margin-bottom: 25px;
    font-family: "OpenSans-Regular";
    font-weight: 600;
    font-size: 24px;
}

.message {
    margin-bottom: 30px;
    font-family: "OpenSans-Regular";
    font-weight: 400;
    font-size: 18px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 10;
    width: 34px;
    height: 34px;
    color: text-black;
    font-size: 34px;
    line-height: 1;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close:hover {
    transform: rotateZ(180deg);
}

@media (max-height: 650px) {
    .wrap {
        display: block;
    }
}

@media (max-height: 600px) {
    .message {
        font-size: 16px;
    }
}
