.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 20px;
    width: 100%;
    max-width: 980px;
}

.container > * {
    margin-right: 12px;
}

.container > *:last-child {
    margin-right: 0;
}
