.filter {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.filter__section {
    display: flex;
    align-items: center;
    flex-shrink: 1;
    width: auto;
    flex-basis: auto;
    height: 100%;
}

.filter__section:last-child {
    flex: 1;
    width: 100%;
}

.filter__section:last-child .filter__item:last-child {
    border-right: none;
}

.filter__item {
    position: relative;
    padding: 12px 30px;
    border-right: 1px solid #d8d8d8;
    background: white;
}

.filter__toggles {
    display: flex;
    align-items: flex-start;
}

.filter__toggles_hover {
    position: relative;
    z-index: 20;
    display: inline-flex;
    flex-shrink: 0;
    height: 100%;
    width: 146px;
    overflow: hidden;
    transition: 0.2s ease-in-out;
}

.filter__toggles_hover:hover {
    width: 445px;
}

.filter__toggle {
    position: relative;
    margin-right: 26px;
    color: #41334b;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
}

.filter__toggle:last-child {
    margin-right: 0;
}

.filter__toggle:after {
    content: '';
    display: block;
    margin-top: 3px;
    width: 100%;
    height: 2px;
    background-color: transparent;
}

.filter__toggle[data-active="true"] {
    font-weight: 600;
}

.filter__toggle[data-active="true"]:after {
    background-color: #41334b;
}

.filter__caption {
    margin-right: 8px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
}

.filter__period {}

.period {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 400;
    color: #000;
    font-size: 14px;
}

.period__date {
    display: flex;
    font-weight: 600;
    margin-right: 12px;
}

.period__input {
    width: 85px;
    margin-right: 7px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    text-align: center;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
    outline: none;
    cursor: pointer;
}

.period__daypicker {
    position: absolute;
    top: calc(100% + 12px);
    left: 0;
    display: block;
}

.search {
    display: flex;
    align-items: center;
    width: 100%;
    max-height: 48px;
    transform: translateX(0);
    transition: transform 0.2s ease-in-out;
}

.search__icon {
    width: 20px;
    height: 30px;
    margin-right: 16px;
    flex-shrink: 0;
    background-image: url('./img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search__source {
    width: 100%;
    flex-shrink: 1;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    border: 0;
    outline: none;
}

.calendar {
    width: 22px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('./img/calendar-idle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

@media screen and (max-width: 1500px) {
    .filter {
        padding-left: 12px;
    }

    .filter__toggles_hover {
        width: 125px;
    }

    .filter__toggles_hover:hover {
        width: 340px;
    }

    .filter__item {
        padding: 12px 16px;
    }

    .filter__toggle {
        margin-right: 15px;
        font-size: 12px;
    }

    .filter__caption,
    .period {
        font-size: 12px;
    }

    .period__input {
        width: 75px;
        font-size: 12px;
    }

    .period__daypicker {
        top: calc(100% + 12px);
        left: -100%;
    }

    .search_is-focus {
        border-left: 1px solid #d8d8d8;
        background: white;
    }

    .search_is-absolute {
        position: absolute;
        top: 0;
        right: 0;
    }

    .search__source {
        font-size: 12px;
    }
}

/* Old. Плиточный адаптивный вариант */
/* @media screen and (max-width: 1500px) {
    .filter {
        flex-direction: column;
    }

    .filter__section {
        flex-shrink: 1;
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
    }

    .filter__section:last-child {
        border-bottom: none;
    }

    .filter__item {
        width: 100%;
    }

    .filter__item:last-child {
        border-right: none;
    }

    .filter__toggles_hover {
        overflow: visible;
        max-width: auto;
    }
} */
