:global(.recharts-surface) {
    overflow: visible;
}

.container {
    position: relative;
    width: 100%;
    padding: 28px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.head {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.head[data-visible="false"] .info {
    opacity: 0;
    visibility: hidden;
}

.info {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.date {
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.value {
    font-size: 24px;
    font-weight: 600;
    color: black;
}

.wrap {
    display: flex;
    align-items: center;
}

.analytics-toggle {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-left: 40px;
    border-radius: 4px;
    background-color: white;
    background-image: url('./img/switchnum.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 235px;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.content[data-active="false"]::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.content[data-active="false"] .operations {
    opacity: 0;
    visibility: hidden;
}

.message {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: calc(50% - 85px / 2);
    left: 0;
}

.message-text {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-align: center;
    color: black;
}

.message-wrap {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.4px;
    text-align: center;
    color: black;
}

.message-wrap span {
    display: block;
    margin: 0 30px;
}

.message-button {
    display: block;
    min-width: 176px;
    padding: 9px 16px;
    border-radius: 8px;
    border: solid 1px black;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.operations {
    display: inline-block;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.operations > * {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.operations > *:last-child {
    margin-bottom: 0;
}

/* .operations-coming .operations-value {
    color: #3ac56c;
}

.operations-consumption .operations-value {
    color: #e94d4d;
} */

.operations-value {
    min-width: 88px;
    margin-right: 7px;
    font-size: 14px;
    font-weight: 600;
}

.operations-description {
    font-weight: 600;
    font-size: 12px;
    color: black;
}
