.day {

}

.day-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 76.5px;
    padding: 26.5px 35px;
    background: #f8f8f8;
}

.day-date {
    font-size: 18px;
    text-align: left;
    color: #3e3048;
}

.day-btn {
    width: 20px;
    height: 13px;
    margin-left: 10px;
    background-image: url('./img/calendar-back.svg');
    background-size: 22px 18px;
    background-position: center;
    cursor: pointer;
}

.entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 76.5px;
    padding: 7px 35px;
    border-bottom: 1px solid #d8d8d8;
    background: white;
}

.entry:last-child {
    border-bottom: none;
}

.entry-type {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 15px;
    background: #ccc;
}

.entry-type[data-type="pay"] {
    background: #00aeee;
}

.entry-type[data-type="invoice"] {
    background: #14ccb2;
}

.entry-type[data-type="note"] {
    background: #ca2f90;
}

.entry-content {
    display: flex;
    align-items: center;
}

.entry-title {
    font-size: 18px;
    line-height: 32.5px;
    font-weight: 300;
    color: #3e3048;
}

.entry-value {
    margin-left: 27px;
    font-size: 18px;
    line-height: 32.5px;
    font-weight: 600;
    color: #3e3048;
    white-space: nowrap;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1em;
    letter-spacing: 0.4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    padding: 30px 10px;
}
