@value red-invalid-field from "css/colors.css";

.input-select {
    position: relative;
    display: flex;
    height: 45px;
    margin-right: 20px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    cursor: pointer;
}

.input-select:last-child {
    margin-right: 0;
}

.input-select[data-disabled="true"] {
    background-color: #ddd;
    background-color: rgba(232, 232, 232, 0.5);
    cursor: default;
}

.input-select[data-expanded="true"] {
    border-radius: 8px 8px 0 0;
}

.input-select[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input-top {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
}

.input-select label {
    /*
    position: absolute;
    top: 6px;
    left: 10px;
    */
    margin-right: 5px;
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-select[data-invalid="true"] label {
    color: red-invalid-field;
}

.input-select input {
    width: calc(100% - 20px);
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.chevron {
    position: relative;
    top: -19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 44px;
    border-left: 1px solid #d8d8d8;
}

.chevron[data-hidden="true"] {
    display: none;
}

.chevron-icon {
    position: relative;
    left: 3px;
    top: 2px;
    width: 20px;
    height: 20px;
    background-image: url('./chevron.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateZ(180deg);
}

.options {
    position: absolute;
    top: 43px;
    left: -1px;
    z-index: 100;
    display: none;
    width: calc(100% + 2px);
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 0 0 8px 8px;
}

.options[data-visible="true"] {
    display: block;
}

.option-item {
    /*
    display: flex;
    align-items: center;
    */
    width: 100%;
    min-height: 30px;
    padding: 5px;
    padding-top: 6px;
    color: #41334b;
    font-size: 14px;
    cursor: pointer;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.option-item-active {
    background-color: #f6f6f6;
}

.option-item:hover {
    background-color: #f8f8f8;
}

.scrollbar {
    text-overflow: ellipsis;
}
