@value column-width, column-height from "css/dimensions.css";

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-submit {
    width: auto;
    width: 205px;
    min-width: 150px;
    height: column-height;
    min-height: 40px;
    min-height: 50px;
    margin: auto;
    /*
    margin-bottom: column-height;
    */
    margin-bottom: 15px;
    padding: 0 calc(column-width * 0.5);
    padding: 0 25px;
    color: #60b4d4;
    color: #fff;
    /*font-family: 'OpenSans-Light';*/
    font-size: 18px;
    background-color: #fff;
    background: linear-gradient(to left, #bb3c63, #654caa);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border: 0;
    border-radius: calc(column-height * 0.5);
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-in;
}

.login-submit[disabled] {
    color: rgba(255, 255, 255, 0.5);
    color: #bfbfbf;
    background: transparent;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border: 1px solid #bfbfbf;
    cursor: default;
}

.get-login {
    margin-bottom: column-height;
    font-size: 16px;
    text-align: center;
}

.get-login span {
    border-bottom: 1px solid;
    cursor: pointer;
}

.get-login a {
    color: #000 !important;
    text-decoration: none;
}

.confirm-password__wrapper {
    display: none;
}

.confirm-password__wrapper--visible {
    display: flex;
}

.equal {
    position: relative;
    top: 5px;
    display: flex;
    min-width: 20px;
    height: column-height;
    min-height: 40px;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    font-size: 30px;
}

.equal--hide {
    opacity: 0;
}

.attempts-left {
    margin-bottom: 5px;
    color: #bfbfbf;
    font-size: 14px;
    text-align: center;
}

.form-wrapper {
    width: 350px;
}

.form-header {
    margin-bottom: 60px;
}

.reb-logo {
    width: 350px;
    height: 70px;
    background-image: url('./img/reb_logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.product-name {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
}

.form-input {
    margin-bottom: 50px;
}

.form-submit {
    width: 100%;
    height: 50px;
    color: #fff;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    text-transform: uppercase;
    background-image: linear-gradient(94deg, #09357e, #e72e92);
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}

.link-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-login-link {
    margin-top: 35px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
}

.captcha-wrapper {
    display: none;
}

.captcha-wrapper[data-visible="true"] {
    display: block;
}

.captcha-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #fff;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
}

@media (max-width: 520px) {
    .reb-logo {
        width: 175px;
        height: 35px;
        margin: 0 auto;
    }

    .login-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .form-submit {
        width: calc(100% - 80px);
        margin: 0 auto;
    }
}
