@value text-black from "css/colors.css";

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 500px;
    min-width: 500px;
    height: 100%;
    max-height: 100%;
    border-left: 1px solid #d8d8d8;
}

.kontur-info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    background-color: #fff;
}

.kontur-info-data {
    padding-left: 28px;
    padding-right: 28px;
}

.kontur-info-data > div:last-child * {
    font-size: 16px !important;
}

.form {
    flex-grow: 1;
    height: calc(100% - 85px);
}

.header {
    display: flex;
    align-items: center;
    height: 80px;
    margin-bottom: 33px;
    padding: 0 28px;
    color: text-black;
    font-size: 18px;
}

.input-row {
    margin-bottom: 20px;
    padding-left: 28px;
    padding-right: 28px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 85px;
    padding-left: 28px;
    padding-right: 28px;
}
