@value text-black from "css/colors.css";

.header {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: text-black;
    font-size: 24px;
}

.doc-amount {
    margin-left: 10px;
    color: #f6a623;
    font-size: 28px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 35px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.list-item:first-child {
    border-top: 1px solid #d8d8d8;
}

.doc-number {
    font-size: 18px;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;
    white-space: nowrap;
}

.info-item-desc {
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-item-desc > div {
    margin-right: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-item-amount {
    width: 310px;
    min-width: 310px;
    max-width: 310px;
}

@media screen and (max-width: 1440px) {
    .info-item-desc {
        margin-right: 25px;
    }

    .info-item-amount {
        width: 250px;
        min-width: 250px;
    }
}

.operation-kind {
    font-size: 14px;
}

.payment-description {
    overflow: hidden;
    color: #3e3048;
    font-size: 12px;
    text-overflow: ellipsis;
}

.plus {
    color: #3ac56c;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.minus {
    color: #e94d4d;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.select-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 35px;
    margin-bottom: 15px;
    font-size: 14px;
}

.select-actions > div:first-child {
    margin-right: 15px;
}

.select-actions > div {
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    min-width: 225px;
    max-width: 225px;
}

.sign-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 30px;
    color: #979797;
    font-size: 12px;
    border: solid 1px #979797;
    border-radius: 4px;
}

.item-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 15px;
    border: solid 1px #979797;
    border-radius: 100%;
    cursor: pointer;
}

.item-checkbox-inner {
    width: 10px;
    height: 10px;
    background-image: linear-gradient(121deg, #09357e, #e72e92);
    border-radius: 100%;
    opacity: 0;
    transition: opacity .5s ease;
}

.item-checkbox[data-active="true"] .item-checkbox-inner {
    opacity: 1;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 35px;
}
