@value column-width, column-height from "css/dimensions.css";

.table-container {
    position: relative;
    width: calc(100% - 6.25vw);
    margin: auto;
}

.table {
    width: 100%;
    margin: auto;
    margin-top: 60px;
    border-collapse: collapse;
}

.table td {
    padding: 0 5px;
}
