@value text-black from "css/colors.css";

.wrapper {
}

.mail-wrapper {
    display: flex;
    align-items: flex-start;
}

.mail-sender {
    order: 2;
    width: 52px;
    height: 52px;
    margin-right: 0;
    margin-left: 28px;
    background-image: url('./img/default-m.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    overflow: hidden;
}

.mail-sender[data-type="mail2client"] {
    order: 1;
    margin-right: 28px;
    margin-left: 0;
    background-image: url('./img/default-reb.png');
}

.mail-item {
    order: 1;
    width: 444px;
    min-height: 120px;
    padding-left: 7px;
    padding-top: 5px;
    padding-right: 7px;
    padding-bottom: 20px;
    color: #41334b;
    font-size: 16px;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 4px 0 #d8d8d8;
}

.mail-item[data-type="mail2client"] {
    order: 2;
    background-color: #f8f8f8;
    cursor: default;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.mail-top {
    margin-bottom: 10px;
    color: #41334b;
    font-size: 12px;
}

.mail-top-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.caption {
    margin-top: 8px;
    color: #41334b;
    font-size: 16px;
    font-weight: bold;
}

.description {
    max-width: 100%;
    word-break: break-word;
}

.file-list {
    margin-top: 16px;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: text-black;
    font-size: 14px;
    cursor: pointer;
}

.file-item:last-child {
    margin-bottom: 0;
}

.file-icon {
    width: 18px;
    height: 22px;
    margin-right: 10px;
    background-image: url('./img/file.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    width: 444px;
    margin-top: 10px;
}

.sign-form {
    height: 30px;
}

.sign-form > input {
    font-size: 12px !important;
}

.url {
    display: inline-block;
    max-width: 100%;
    margin-top: 12px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}