.wrapper {
    flex-shrink: 0;
    width: 80px;
    height: 100%;
    background-image: url('./img/exit.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 38px 32px;
    border-left: 1px solid #fff;
    cursor: pointer;
}
