.wrapper {
    display: flex;
    align-items: center;
    width: 340px;
    width: 18%;
    min-width: 250px;
    max-width: 340px;
    max-width: 310px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
}

.avatar {
    position: relative;
    width: 52px;
    width: 46px;
    min-width: 52px;
    min-width: 46px;
    height: 52px;
    height: 46px;
    overflow: hidden;
    background-color: #ecf5f3;
    border-radius: 100%;
}

@media (max-height: 800px) {
    .avatar {
        width: 42px;
        min-width: 42px;
        height: 42px;
    }
}

.avatar-border {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(121deg, #09357e, #e72e92);
}

.avatar-image {
    position: absolute;
    top: 1px;
    left: 1px;
    z-index: 100;
    width: 50px;
    width: 44px;
    height: 50px;
    height: 44px;
    background-color: #ecf5f3;
    background-image: url('./img/default-m.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 100%;
}

@media (max-height: 800px) {
    .avatar-image {
        width: 40px;
        height: 40px;
    }
}

.user-info {
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    color: #000000;
    font-size: 14px;
    font-size: 12px;
}

.user-name {
    font-weight: 600;
    line-height: 1.43;
}

.user-job {

}

.chevron {
    width: 20px;
    height: 20px;
    background-image: url('./img/chevron.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotateZ(0deg);
    transition: transform .3s ease;
    will-change: transform;
}

.chevron[data-active="true"] {
    transform: rotateZ(180deg);
}
