@value text-black from "css/colors.css";

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 20px);
    color: text-black;
    background-color: #fff;
}

.wrapper[data-visible="false"] {
    display: none;
}

.header {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.body {
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
}
