@value text-black from "css/colors.css";

.container {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 3;
    height: 80px;
    padding: 0 25px;
}

.header > * {
    width: 100%;
    flex-shrink: 1;
}

.header_border {
    border-bottom: 1px solid #d8d8d8;
}

.title {
    color: #3e3048;
    font-size: 24px;
    font-weight: 400;
}

.close-giglet {}

.list {
    display: flex;
    align-items: flex-start;
    padding: 10px 25px;
    box-sizing: border-box;
    white-space: nowrap;
}

.list > * {
    margin-right: 18px;
    white-space: normal;
}

.footnote {
    padding: 25px;
    font-weight: 400;
    font-size: 14px;
    color: #3e3048;
}

.footnote_strong {
    font-weight: 600;
}

.scroll-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.scroll-item {
    position: absolute;
    width: 100px;
    height: 100%;
    z-index: 2;
}

.scroll-item[data-direction="forward"] {
    top: 0;
    right: 0;
}

.scroll-item[data-direction="backward"] {
    top: 0;
    left: 0;
}
