.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__content {
    width: 500px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
}

.certificate-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;

    &:first-child {
        border-top: 1px solid #d8d8d8;
    }
}

.certificate-info {
    max-width: 90%;
    font-size: 14px;
}

.certificate-info > div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.item-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-left: 15px;
    border: solid 1px #979797;
    border-radius: 100%;
    cursor: pointer;
}

.item-checkbox-inner {
    width: 10px;
    height: 10px;
    background-image: linear-gradient(121deg, #09357e, #e72e92);
    border-radius: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.item-checkbox[data-active="true"] .item-checkbox-inner {
    opacity: 1;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
