.list {
    display: flex;
    align-items: center;
}

.item {
    text-align: center;
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0;
}

.label {
    display: block;
    min-width: 80px;
    margin: 0;
    border: 0;
    padding: 12px 15px;
    border-radius: 23px;
    background-color: #f8f8f8;
    border: solid 1px #f8f8f8;
    font-size: 14px;
    text-align: left;
    color: #949494;
    cursor: pointer;
}

.input {
    display: none;
}

.input:checked + .label {
    border: solid 1px #3e3048;
    color: #3e3048;
}
