@value violet-gradient from "css/colors.css";

.modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-right: 10px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.modal-btn[data-theme="gradient"] {
    color: #fff;
    background: violet-gradient;
}

.modal-btn[data-theme="white"] {
    color: #000;
    background: #fff;
    background-color: #fff;
}
