@value column-width, column-height from "css/dimensions.css";

.wrapper {
    display: flex;
    height: 100%;
    /*
    background: linear-gradient(90deg, #6753a8, #b8408a);
    background-image: url('./bg.svg');
    */
    background-color: #b8408a;
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-section {
    position: relative;
    height: 100%;
    flex-grow: 1;
    padding-top: 20px;
    padding-top: 0;
}

@media screen and (max-width: 1000px) {
    .main-section {
        padding-top: 35px;
    }
}

.notification {
    position: absolute;
    z-index: 9999;
    left: column-width;
    width: calc(100% - 6.25vw);
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    text-align: center;
    background-image: linear-gradient(99deg, #fdecb0, #fbb68e);
    /* transform: translateX(-50%); */
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.close-notification {
    position: absolute;
    right: 10px;
    top: 0px;
    font-size: 26px;
    line-height: 1;
    cursor: pointer;
}
