@value main-gradient from "css/colors.css";

.top-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    min-height: 80px;
    background-image: main-gradient;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.widget-link {
    flex-shrink: 0;
    padding: 6px 26px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.reb-logo {
    flex-shrink: 0;
    width: 150px;
    height: 30px;
    margin-left: 16px;
    background-image: url('./img/reb-logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* @media (max-width: 1920px) {
    .top-bar {
        height: 80px;
        min-height: 80px;
    }
} */

@media (max-height: 800px) {
    .top-bar {
        height: 60px;
        min-height: 60px;
    }
}
