.select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.select_is-open .select-list {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}

.select_is-open .select-icon {
    z-index: 30;
    transform: rotate(180deg);
}

.select-icon {
    position: absolute;
    right: 12px;
    top: calc(50% - 6px / 2);
    z-index: 10;
    width: 10px;
    height: 6px;
    cursor: pointer;
    background: url('./img/vs-arrow.svg') no-repeat center;
    transition: transform 0.2s ease-in-out;
}

.select-list {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 20;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: auto;
    transition: all 0.1s ease-in-out;
}

.select-item {
    padding: 16px 12px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.select-item:hover {
    background: #f8f8f8;
}

