@value text-black from "css/colors.css";

.template-name-modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - 20px);
    background-color: #fff;
}

.template-name-modal-wrapper[data-visible="true"] {
    display: flex;
}

.template-name-modal {
    position: relative;
    width: 456px;
    height: auto;
}

.template-modal-header {
    margin-bottom: 25px;
    color: text-black;
    font-size: 22px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
