.wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 340px;
    /* max-width: 310px; */
    /* width: 18%; */
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}
