@value red-invalid-field from "css/colors.css";

.input-group {
    position: relative;
    height: 45px;
    margin-right: 20px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.input-group:last-child {
    margin-right: 0;
}

.input-group[data-disabled="true"] {
    background-color: #ddd;
    background-color: rgba(232, 232, 232, 0.5);
}

.input-group[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input-group[data-show-symbol="true"] {
    padding-right: 30px;
}

.input-top {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
}

.input-group label {
    margin-right: 5px;
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input-group[data-invalid="true"] label {
    color: red-invalid-field;
}

.input-group input {
    width: 100%;
    color: #423737;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}

.autocomplete {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.autocomplete-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.autocomplete-highlight {
    color: #3e3048;
    font-weight: 600;
    background-color: transparent;
}

.input-group[data-invalid="true"] .symbol-left {
    color: red-invalid-field;
}
