.wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: solid 1px #d8d8d8;
    border-radius: 8px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-image: url('./img/search.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.search-input {
    flex-grow: 1;
    width: 100%;
    height: 45px;
    color: #1d1d1d;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: transparent;
    border: 0;
    outline: none;
}
