.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 30px;
    box-sizing: border-box;
}

.buttons-group {
    display: flex;
    align-items: center;
}

