.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 1280px;
    background-color: #f1f5f8;

    @media (max-width: 1279px) {
        //overflow: scroll;
    }
}

.content {
    display: flex;
    flex-grow: 1;
    min-height: 1px;
    margin-top: 14px;
}

.main-content {
    position: relative;
    flex-grow: 1;
    min-height: 1px;
    padding: 0 14px;
}

.main-content > div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.favorite {
    margin-top: 30px;
}

.favorite-header {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}

.favorite-list {
    display: flex;
    align-items: top;
    height: 150px;
    overflow-x: hidden;
}
