.wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #f9f9f9;
    overflow: hidden;
    box-sizing: border-box;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-grow: 1;
    box-sizing: border-box;
}

.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.notification {
    position: absolute;
    z-index: 5;
    left: 20px;
    width: calc(100% - 105px);
    margin: auto;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    text-align: center;
    background-image: linear-gradient(99deg, #fdecb0, #fbb68e);
    border-radius: 0 0 8px 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
    .notification {
        position: relative;
        width: 100%;
        left: 0;
    }
}

@media (max-width: 768px) {
    .wrapper {
        display: block;
        height: auto;
    }

    .main-content {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content-wrapper {
        flex: 1 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 30px;
    }
}

@media (max-width: 520px) {
    .content-wrapper {
        padding: 15px;
    }
}
