.ui-marquee {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.ui-marquee__text {
    display: inline;
    overflow: hidden;
    text-indent: 0;
    color: inherit;
    font-size: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: text-indent 3s linear;
}