@value red-invalid-field from "css/colors.css";

.container[data-invalid="true"] .radio-icon {
    border: solid 1px red-invalid-field;
}

.container[data-invalid="true"] .radio-label {
    color: red-invalid-field;
}

.radio {
    display: flex;
    align-items: center;
    padding: 11px;
}

.radio:nth-child(odd) {
    background: #f3f6f7;
}

.radio-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #000;
    cursor: pointer;
}

.radio-icon::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e72e92;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.radio-label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
    cursor: pointer;
}

.radio-source {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.radio-source:checked ~ .radio-icon::after {
    opacity: 1;
}

