.table-group {
    height: 100px;
    border-bottom: 1px solid #e8e8e8;
    vertical-align: top;
}

.table-group td > * {
    vertical-align: -50px;
}

.table-group td[data-visible="false"] {
    display: none;
}

.group-name {
    font-size: 24px;
}
