.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 15px 32px;
    background-color: #fefefe;
    border-bottom: 1px solid #d8d8d8;
}

.wrapper:last-child {
    border-bottom: 0;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 18px;
    white-space: nowrap;
}

.info-item-desc {
    width: 690px;
    max-width: 690px;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (min-width: 1700px) {
        width: 890px;
        max-width: 890px;
    }
}

.info-item-desc > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

.info-item-amount {
    width: 310px;
    width: 250px;
    min-width: 310px;
    min-width: 250px;
    max-width: 310px;
    margin-left: 25px;
}

@media screen and (max-width: 1440px) {
    .info-item-desc {
        margin-right: 25px;
    }

    .info-item-amount {
        width: 250px;
        min-width: 250px;
    }
}

.operation-kind {
    font-size: 14px;
}

.payment-status {
    font-size: 14px;
}

.payment-status[data-status="end"] {
    color: #3ac56c;
}

.payment-status[data-status="decline"] {
    color: #e94d4d;
}

.payment-status[data-status*="send"] {
    color: #00adee;
}

.payment-description {
    overflow: hidden;
    color: #3e3048;
    font-size: 12px;
    text-overflow: ellipsis;
}

.plus {
    color: #3ac56c;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.minus {
    color: #e94d4d;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 170px;
}

.actions > div:not(:last-child) {
    margin-right: 35px;
}

.copy,
.print,
.cancel {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.copy {
    width: 36px;
    min-width: 36px;
    height: 32px;
    background-image: url('./img/copy.png');
}

.print {
    width: 30px;
    min-width: 30px;
    height: 32px;
    background-image: url('./img/pdfexport1.svg');
}

.cancel {
    width: 32px;
    min-width: 32px;
    height: 32px;
    background-image: url('./img/stop-it.svg');
}
