@value violet-gradient from "css/colors.css";

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}

.btn-blue {
    color: #fff;
    background-color: #60b4d4;
    background: violet-gradient;
}

.btn-white {
    color: #60b4d4;
    color: #000;
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.btn-more {
    display: flex;
    width: 270px;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #60b4d4;
    font-family: 'OpenSans-Regular';
    font-size: 16px;
    background-color: #fff;
    border: 1px dashed #60b4d4;
    border-radius: 25px;
    cursor: pointer;
}
