@value column-width, column-height from "css/dimensions.css";

.logo-wrapper {
    width: 100%;
    min-width: 160px;
    height: column-height;
    min-height: 55px;
    padding-top: 20px;
    padding-left: calc(column-width * 0.5);
}

.logo {
    height: 100%;
    background: url('./reb_logo.png') no-repeat;
    background: url('./reb_logo.svg') no-repeat;
    background-size: contain;
}
