@value column-width, column-height from "css/dimensions.css";

.orgname-wrapper {
    max-width: 100%;
    /*
    overflow: hidden;
    */
    padding-left: calc(column-width * 0.5);
    padding-right: calc(column-width * 0.5);
    color: #000;
    font-family: 'OpenSans-Regular';
    font-size: 18px;
    word-break: break-word;
    /*
    text-overflow: ellipsis;
    white-space: nowrap;
    */
}
