.hint-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    min-width: 14px;
    height: 14px;
    min-height: 14px;
    cursor: default;
    background-image: url('./img/hint.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hint-icon span {
    position: relative;
    right: -0.5px;
}

.hint-wrapper {
    position: relative;
}

.hint-content {
    position: absolute;
    top: 20px;
    z-index: 100;
    min-width: 300px;
    padding: 10px 15px;
    font-size: 12px;
    white-space: pre-wrap;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in, visibility 0s ease 1.2s;
}

.hint-content[data-with-animation="false"] {
    opacity: 1;
    transition: visibility 0s ease .5s;
}

.hint-content[data-hint-position="top"] {
    top: initial;
    bottom: 20px;
}

.hint-icon:hover + .hint-content,
.hint-content:hover {
    display: block;
    opacity: 1 !important;
    visibility: visible !important;
    transition: opacity .6s ease-in .1s, visibility 0s ease;
}

.hint-icon:hover + .hint-content[data-with-animation="false"],
.hint-content[data-with-animation="false"]:hover {
    transition: visibility 0s ease;
}
