.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

@value border-width: 0.8em;

.loader {
  margin: 0px auto;
  font-size: 10px;
  position: relative;
  top: calc(50% - 3em);
  overflow: hidden;
  text-indent: -9999em;
  border-top: border-width solid #aaaaaa33;
  border-right: border-width solid #aaaaaa33;
  border-bottom: border-width solid #aaaaaa33;
  border-left: border-width solid #aaa;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loader--visible {
    display: flex;
    display: block;
}
