.wrapper {
    width: 500px;
    margin-bottom: 10px;
    overflow: hidden;
    transform: translateX(0) translateZ(0);
    backface-visibility: hidden;
    will-change: transform;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.wrapper[data-animate="shake"] {
    animation: shake 1s ease 0.1s;
}

.main {
    display: flex;
    align-items: stretch;
    width: 500px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
}

.content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 80px;
    padding-left: 26px;
    padding-right: 26px;
    color: #3e3048;
    font-size: 14px;
    font-weight: 600;
}

.main[data-color="red"] .content {
    color: #ff6058;
}

.action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    min-width: 120px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-color: #00adee;
    cursor: pointer;
    user-select: none;
}

.main[data-color="red"] .action-btn {
    background-color: #ff6058;
}

.more {
    display: none;
    align-items: stretch;
    width: 500px;
    margin-top: 10px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
}

.more[data-visible="true"] {
    display: flex;
}

.more-content {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-left: 26px;
    padding-top: 32px;
    padding-right: 26px;
    padding-bottom: 32px;
    color: #3e3048;
    font-size: 14px;
}
