:root {
    --column-width: calc(100vw / 32);
    --column-height: calc(100vh / 18);

    font-size: 10px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h2,
h3,
h4 {
    color: #1d1d1d;
    font-family: 'OpenSans-Light';
    font-family: 'OpenSans-Regular';
    font-weight: normal;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 16px;
}

input {
    font-family: 'OpenSans-Regular';
}

:global(.switch-wrapper) {
    position: relative;
    width: 100%;
    height: 100%;
}

:global(.switch-wrapper > div) {
    position: absolute;
    width: 100%;
    height: 100%;
}

:global(.fade-enter) {
    opacity: 0;
    z-index: 1;
}

:global(.fade-enter.fade-enter-active) {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

:global(.fade-exit.fade-exit-active) {
    opacity: 0;
}

:global(.fadeappear-appear) {
    opacity: 0;
    z-index: 1;
}

:global(.fadeappear-appear.fadeappear-appear-active) {
    opacity: 1;
    transition: opacity 250ms ease-in;
}

:global(.fadeappear-exit) {
    opacity: 1;
    z-index: 1;
}

:global(.fadeappear-exit.fadeappear-exit-active) {
    opacity: 0;
    transition: opacity 250ms ease-in;
}
