.kontur-modal-wrapper[data-color="red"] {
    color: #d75342;
}

.kontur-modal-wrapper[data-color="yellow"] {
    color: #e6b91b;
}

.kontur-modal-wrapper[data-color="green"] {
    color: #23c9a4;
}

.kontur-modal-wrapper a {
    text-decoration: none;
}

.attention {
    margin-bottom: 15px;
    font-size: 14px;
}

.kontur-color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.kontur-color-text {
    margin-bottom: 25px;
    font-size: 24px;
    text-align: center;
}

.kontur-org-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.kontur-org-info > div:first-child {
    margin-bottom: 10px;
    color: rgb(161, 161, 161);
    font-size: 16px;
    text-align: center;
}

.kontur-org-info > div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.kontur-org-info > div:last-child div {
    margin-right: 15px;
}

.kontur-org-info > div:last-child div:last-child {
    margin-right: 0;
}

.kontur-facts-list {
    margin-top: 15px;
    font-size: 14px;
}
