@value red-invalid-field from "css/colors.css";

.nalog-period {
    position: relative;
    display: flex;
    align-items: center;
    width: 280px;
    height: 45px;
    margin-right: 10px;
    padding-left: 5px;
    padding-top: 20px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.nalog-period[data-disabled="true"] {
    background-color: rgba(232, 232, 232, .5);
}

.nalog-period[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input-top {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    align-items: center;
    width: calc(100% - 10px);
}

.nalog-period label {
    margin-right: 5px;
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.nalog-period[data-invalid="true"] label {
    color: red-invalid-field;
}

.period-input {
    width: 100%;
    font-family: OpenSans-Regular;
    font-size: 16px;
    background: transparent;
    border: 0;
    outline: none;
}
