.item {
    width: 400px;
    width: 476px;
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-height: 496px;
    padding: 25px 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.name {
    margin-bottom: 20px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    min-height: 44px;
    font-size: 16px;
    text-align: left;
    color: #949494;
}

.options {
    flex-grow: 1;
    margin-top: 25px;
    min-height: 220px;
    box-sizing: border-box;
    overflow: hidden;
}

.option {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d8d8d8;
}

.option:last-child {
    margin-bottom: 0;
}

.caption {
    width: 44%;
    max-width: 44%;
    flex-shrink: 1;
    margin-right: 20px;
    font-size: 13px;
    text-align: left;
    color: #000;
    white-space: pre-line;
}

.value {
    width: 52%;
    min-width: 50%;
    flex-shrink: 1;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    color: #000;
    white-space: pre;
}

.price {
    position: relative;
    margin: 15px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #000;
}

.price-save {
    position: absolute;
    top: 30px;
    left: 50%;
    font-size: 14px;
    font-weight: 400;
    transform: translateX(-50%);
}

.button {
    width: 216px;
    margin: 0 auto;
}
