.flex-center {
    display: flex;
    align-items: center;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.form-block-name {
    display: flex;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 10px;
    font-size: 18px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.datepicker-group {
    position: relative;
    height: 45px;
    padding-top: 18px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
    background-image: url('./calendar-idle.svg');
    background-position: 98% 80%;
    background-repeat: no-repeat;
    background-size: 22px;
}

.datepicker-top {
    position: absolute;
    top: 2px;
    left: 5px;
    display: flex;
    align-items: center;
}

.datepicker-group label {
    /*
    position: absolute;
    top: 6px;
    left: 10px;
    */
    margin-right: 5px;
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.datepicker-group input {
    width: 100%;
    font-family: OpenSans-Regular;
    font-size: 16px;
}

.period__daypicker {
    position: absolute;
    top: calc(100% - 277px);
    left: calc(100% + 12px);
    display: block;
    z-index: 999;
}