@value text-black from "css/colors.css";

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height: 100%;
}

.form {
    height: calc(100% - 100px);
    flex-grow: 1;
}

.header {
    display: flex;
    align-items: flex-end;
    height: 150px;
    padding-left: 28px;
    padding-bottom: 36px;
    color: text-black;
    font-size: 18px;
}

.form-wrapper {
    padding-left: 28px;
    padding-right: 28px;
}

.input-row {
    margin-bottom: 20px;
}

.dropzone-text {
    color: #949494;
    font-size: 12px;
    text-align: center;
}

.dropzone-text > div:first-child span {
    color: #41334b;
    font-weight: 600;
    border-bottom: 1px solid;
}

.file-info {
    margin-left: 7px;
    margin-top: 5px;
    color: #949494;
    font-size: 10px;
}

.file-list {
    margin-top: 20px;
    padding-left: 7px;
    overflow: hidden;
}

.file-wrap {
    display: flex;
    align-items: center;
}

.file-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;
    color: text-black;
    font-size: 14px;
    cursor: pointer;
}

.file-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-item:last-child {
    margin-bottom: 0;
}

.file-icon {
    min-width: 18px;
    height: 22px;
    margin-right: 10px;
    background-image: url('./img/file.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.file-delete {
    margin-left: 25px;
    font-size: 24px;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-end;
    padding-top: 24px;
    padding-bottom: 24px;
    padding: 24px 28px;
}

@media (max-width: 1400px) {
    .wrapper {
        min-width: 400px;
    }

    .header {
        padding-left: 15px;
    }

    .form-wrapper {
        padding: 0 15px;
    }

    .btn-row {
        padding: 24px 15px;
    }


}