.datepicker {
    position: relative;
    display: flex;
    width: 175px;
    align-items: flex-end;
}

input.datepicker-input {
    width: 150px;
    max-width: calc(100% - 25px);
    margin-right: 5px;
    font-family: 'OpenSans-Regular';
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
}

input.datepicker-input[disabled] {
    background-color: rgba(232, 232, 232, .5);
    background-color: transparent;
}

.datepicker-icon {
    position: relative;
    top: -3px;
    width: 18px;
    height: 12px;
    background-image: url('./img/datepicker.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.datepicker-calendar {
    position: absolute;
    top: 26px;
    left: -125px;
    z-index: 200;
    display: none;
    width: 320px;
    height: 230px;
    padding-top: 25px;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'OpenSans-Regular';
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.datepicker-calendar--visible {
    display: flex;
}

.calendar-top {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: #60b4d4;
    font-size: 14px;
}

.select-month {
    display: flex;
    cursor: pointer;
}

.chevron-left,
.chevron-right {
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    cursor: pointer;
}

.chevron-right {
    background-image: url('./img/chevron-right.png');
}

.chevron-left {
    background-image: url('./img/chevron-left.png');
}

.date-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc(100% / 7);
    margin-top: 7px;
    color: #75777a;
    font-size: 14px;
    cursor: pointer;
}

.date--grey {
    color: #c7c7cc;
}

.date--today {
    color: #1d1d1d;
}

.date--current {
    color: #1d1d1d;
    font-weight: bold;
}

.year-select-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e8e8e8;
}

.year-select-list-item {
    color: #60b4d4;
    font-size: 14px;
    cursor: pointer;
}

.year-select-list-item:hover {
    color: #000;
}

.month-select-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.month-select-list-item {
    width: calc(100% / 3);
    margin-top: 7px;
    color: #60b4d4;
    font-size: 14px;
    cursor: pointer;
}

.month-select-list-item:hover {
    color: #000;
}
