.wrap {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100000;
        width: 15px;
        height: 100%;
        background-image: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.4));
    }
}

.title {
    min-height: 80px;
    display: flex;
    align-items: center;
    padding: 22px 25px;
    box-sizing: border-box;
    border-bottom: 1px solid #d8d8d8;
    color: #3e3048;
    font-size: 22px;
    font-size: calc(18px + (22 - 18) * ((100vw - 1280px) / (1920 - 1280)));
    white-space: nowrap;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 1;
}

.close {
    position: absolute;
    top: 32px;
    right: 28px;
    z-index: 1100;
    width: 17px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('./img/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close:hover {
    transform: rotateZ(180deg);
}

@media (max-width: 1500px) {
    .wrap {
        box-sizing: border-box;
        padding-right: 220px;
    }
}

@media (max-width: 1350px) {
    .wrap {
        padding-right: 125px;
    }
}

