@value text-black from "css/colors.css";

.wrapper {
    position: relative;
    margin-top: 35px;
}

.expanded-wrapper {
    display: flex;
}

.input-wrapper {
    display: flex;
    height: 30px;
}

.caption {
    margin-bottom: 15px;
    color: text-black;
    font-size: 14px;
}

.login-input {
    width: 180px;
    margin-right: 20px;
    color: text-black;
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    border: 0;
    outline: none;
}

.login-input[disabled] {
    background-color: #fff;
}

.login-input[data-active="true"] {
    border-bottom: 1px solid #41334b;
}

.edit-btn {
    width: 32px;
    height: 32px;
    background-image: url('./img/edit_pencil.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.btn-group {
    display: flex;
}

.password-input {
    margin-right: 70px;
}

.password-input .login-input {
    margin-right: 0;
}

.password-error {
    position: absolute;
    top: calc(100% + 8px);
    color: #d75342;
    font-size: 12px;
    line-height: 1;
}
