@value column-width, column-height from "css/dimensions.css";

.employee-info-wrapper {
    margin-top: 15px;
    padding-left: calc(column-width * 0.5);
    color: #000;
}

.name {
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}

.position {
    font-size: 14px;
}
