@value text-black from "css/colors.css";

.wrapper {
    display: flex;
    align-items: flex-start;
}

.avatar {
    width: 96px;
    height: 96px;
    background: url('./img/default-m.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.data {
    margin-left: 30px;
}

.fio {
    color: text-black;
    font-size: 24px;
}

.position {
    margin-top: 12px;
    color: text-black;
    font-size: 20px;
}

.phone {
    margin-top: 25px;
    color: text-black;
    font-size: 18px;
    font-weight: 600;
}
