.top-tabs-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 28px;
    background-color: #fff;
}

.top-tabs-list {
    display: flex;
    margin-right: 150px;
}

.top-tabs-wrapper[data-smallform="true"] .top-tabs-list {
    width: 820px;
}

.top-tab {
    position: relative;
    margin-right: 25px;
    color: rgba(62, 48, 72, 0.7);
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.top-tab[data-active="true"] {
    color: rgba(62, 48, 72, 1);
}

.top-tab[data-active="true"]::after {
    content: "";
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #3e3048;
}

.top-tabs-wrapper[data-editable="false"] .top-tab[data-active="false"] {
    display: none;
}

.close-modal {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 100;
    color: #e8e8e8;
    font-size: 42px;
    line-height: 1;
    cursor: pointer;
    transition: color .2s ease-in;
}

.close-modal:hover {
    color: #ccc;
}

.top-tabs-list-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.top-tabs-header {
    color: #3e3048;
    font-size: 24px;
}
