.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.header {
    margin-bottom: 60px;
}

.reb-logo {
    width: 348px;
    height: 71px;
    background-image: url('images/reb_logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 520px) {
    .reb-logo {
        width: 175px;
        height: 35px;
        margin: 0 auto;
    }
}

.product-name {
    margin-top: 15px;
    font-size: 17px;
    line-height: 1;
    text-align: center;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company-info {
    font-size: 24px;
    text-align: center;
}

@media (max-width: 520px) {
    .company-info {
        font-size: 18px;
    }
}

.bold {
    font-weight: 600;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 46px;
    margin-top: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #e8e8e8;
}
