.table {
    width: 100%;
    margin-bottom: 20px;
    table-layout: unset;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}

.tbody {}

.thead {}

.tr {}

.tr:nth-child(even) .td {
    background: #f8f8f8;
}

.th {
    padding: 16px 12px;
    box-sizing: border-box;
    border-left: 0;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #000;
    white-space: nowrap;
}

.th:nth-child(1),
.th:nth-child(2) {
    padding-right: 25px;
    padding-left: 25px;
}

.td {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #d8d8d8;
    border-right: 0;
    border-bottom: 0;
    font-size: 12px;
    text-align: left;
    color: #000;
}

.td_is-hidden {
    display: none;
}

.td:nth-child(1) {
    width: 106px;
}

.td:nth-child(1) .input {
    padding-right: 25px;
    padding-left: 25px;
    font-weight: 600;
}

.td:nth-child(2) {
    width: 400px;
}

.td:nth-child(2) .input {
    padding-right: 25px;
    padding-left: 25px;
}

.td:nth-child(3) {
    width: 105px;
}

.td:nth-child(4) {
    width: 105px;
}

.td:nth-child(5) {
    min-width: 85px;
    max-width: 120px;
}

.td:nth-child(6) {
    min-width: 85px;
    max-width: 120px;
}

.td:last-child {
    border-left: 0;
}

.td:first-child {
    border-left: 0;
}

.tfoot .td {
    border: 0;
    border-top: 1px solid #d8d8d8;
    width: 100%;
    padding: 2px;
}

.input {
    padding: 16px 12px;
    box-sizing: border-box;
    width: 100%;
    font-size: 12px;
    text-align: left;
    color: #000;
    background-color: transparent;
    border: 0;
    outline: none;
}

.add-product-row {
    text-align: center;
}

.add {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: left;
    color: #000;
    cursor: pointer;
}

.add::before {
    content: '';
    width: 40px;
    height: 40px;
    display: block;
    flex-shrink: 0;
    margin-right: 11px;
    border: double 1px transparent;
    border-radius: 50%;
    background: url('./img/plus.svg') no-repeat center;
}

.close {
    margin-right: 25px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background: url('./img/vs-cross.svg') no-repeat center;
}

.unit-select {
    position: absolute;
    top: calc(100% + 1px);
    z-index: 20;
    width: 300px;
    max-height: 140px;
    overflow: auto;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.unit-item {
    padding: 5px 10px;
    cursor: pointer;
}

.unit-item:hover {
    background-color: #e8e8e8;
}
