.container {
    position: fixed;
    right: 15px;
    top: calc(80px + 14px);
    z-index: 7777;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    height: calc(100vh - (80px + 14px) * 2);
    border-left: 1px solid #d8d8d8;
    background: white;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

@media (max-height: 800px) {
    .container {
        top: calc(60px + 14px);
        height: calc(100vh - (60px + 14px) * 2);
    }
}

.container[data-visible="false"] {
    transform: translateX(515px);
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    flex-shrink: 0;
    padding: 0 28px;
}

.radio-buttons {
    display: flex;
    align-items: center;
}

.radio-buttons > * {
    margin-right: 22px;
}

.radio-buttons > *:last-child {
    margin-right: 0;
}

.radio {

}

.radio-input {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.radio-label {
    position: relative;
    padding: 4px 0;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    font-size: 18px;
    text-align: left;
    color: #3e3048;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.radio-input:checked + .radio-label {
    border-color: #41334b;
}

.close-btn {
    position: relative;
    z-index: 10;
    width: 17px;
    height: 17px;
    background-image: url('./img/x.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transform: rotateZ(0deg);
    transition: transform 0.5s ease;
}

.close-btn:hover {
    transform: rotateZ(180deg);
}

.content {
    height: calc(100% - 80px - 65px);
    flex: 1 auto;
}

.foot {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    background: white;
}

.foot[data-active="true"] .add-button {
    background-image: url('./img/foot-close.svg');
    transform: rotate(45deg);
}

.foot[data-active="true"] .services {
    height: 243px;
}

.services {
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background: white;
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
    transition: height 0.3s ease-in-out;
}

.add-button {
    z-index: 10;
    align-self: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    background-image: url('./img/plus.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px;
    cursor: pointer;
    user-select: none;
    outline: none;
    transform: rotateZ(0deg);
    transform-origin: center;
    transition: transform 0.5s ease;
}

.type {
    display: flex;
    align-items: center;
    min-height: 80px;
    padding: 28px;
    border-bottom: 1px solid #d8d8d8;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    color: #3e3048;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.type:first-child {
    border-top: 1px solid #d8d8d8;
}

.type::before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 15px;
    background: #ccc;
}

.type[data-type="pay"]::before {
    background: #00aeee;
}

.type[data-type="invoice"]::before {
    background: #14ccb2;
}

.type[data-type="note"]::before {
    background: #ca2f90;
}

