@value text-black from "css/colors.css";

.wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: calc(100% - 500px);
    max-width: 100%;
}

.header {
    min-height: 150px;
    padding: 28px;
    border-bottom: 1px solid #d8d8d8;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-name {
    color: text-black;
    font-size: 24px;
}

.header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border: 1px solid #d8d8d8;
    border-radius: 8px;
}

.add-btn-plus {
    width: 32px;
    height: 32px;
    background-image: url('./img/plus.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.contragent-list {
    flex-grow: 1;
    height: 100%;
}

.btn-row {
    display: flex;
    justify-content: space-between;
    padding: 24px 28px;
}
