.container {
    width: 100%;
    padding: 28px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
}

.content {
    max-width: 1280px;
}

.head {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.description {
    flex-shrink: 1;
    width: 700px;
    margin-left: 30px;
}

.card {
    position: relative;
    flex-shrink: 0;
    width: 470px;
    height: 298px;
    background-image: url('./img/megacard.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-number {
        position: absolute;
        top: 120px;
        left: 30px;
        color: #fff;
        font-size: 36px;
        letter-spacing: 3px;
    }

    &-expire {
        position: absolute;
        bottom: 75px;
        right: 155px;
        color: #fff;
        font-size: 22px;
    }

    &-holder {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: #fff;
        font-size: 18px;
    }
}

.balance {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-bottom: 50px;

    &-title {
        position: relative;
        top: 7px;
        color: #41334b;
        font-size: 30px;
        margin-right: 4vw;
        white-space: nowrap;
    }

    &-value {
        color: #41334b;
        font-size: 60px; 
        white-space: nowrap;
    }
}

.account {
    margin-bottom: 40px;

    &-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    &-title {
        margin-right: 14px;
        color: #41334b;
        font-size: 18px;
    }

    &-value {
        color: #41334b;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
    }
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 700px;
    margin-left: auto;

    & > * {
        margin-right: 20px;
        margin-top: 20px;
    }

    & > *:last-child {
        margin-right: 0 !important;
    }
}


@media screen and (max-width: 1460px) {
    .balance {
        margin-bottom: 45px;
        margin-top: 10px;
        justify-content: flex-start;

        &-title {
            font-size: 20px;
            margin-right: 20px;
            white-space: nowrap;
        }
    
        &-value {
            font-size: 50px; 
        }
    }

    .card {
        width: calc(470px * 0.8);
        height: calc(298px * 0.8);
        margin-right: 30px;

        &-number {
            top: calc(120px * 0.8);
            left: calc(30px * 0.8);
            font-size: calc(36px * 0.8);
            letter-spacing: 3px;
        }
    
        &-expire {
            bottom: calc(75px * 0.8);
            right: calc(155px * 0.8);
            font-size: calc(22px * 0.8);
        }
    
        &-holder {
            bottom: calc(30px * 0.8);
            left: calc(30px * 0.8);
            font-size: calc(18px * 0.8);
        }
    }
}