@value red-invalid-field from "css/colors.css";

.container {
    display: flex;
    align-items: flex-start;
}

.input {
    position: relative;
    flex-shrink: 0;
    width: 150px;
    height: 45px;
    padding: 2px 5px;
    padding-top: 18px;
    border-radius: 8px;
    border: solid 1px #d8d8d8;
}

.input[data-invalid="true"] {
    border: 1px solid red-invalid-field;
}

.input::after {
    content: '';
    position: absolute;
    right: 12px;
    top: 8px;
    width: 22px;
    height: 24px;
    flex-shrink: 0;
    background-image: url('./img/calendar-idle.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.input[data-invalid="true"]::after {
    background-image: url('./img/calendar-idle-error.svg');
}

.input-title {
    position: absolute;
    top: 2px;
    left: 5px;
    width: calc(100% - 10px);
    overflow: hidden;
    color: #949494;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.input[data-invalid="true"] .input-title {
    color: red-invalid-field;
}

.input-source {
    width: 100%;
    background-color: transparent;
    border: 0;
    color: #1d1d1d;
    font-size: 16px;
    outline: none;
}

.calendar {
    position: relative;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
}

.daypicker {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    margin-left: 20px;
}

.daypicker-source {
    position: relative;
}
