.container {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    overflow: hidden;
}

.total {
    position: absolute;
    top: 120px;
    top: 100px;
    width: 100%;
    font-size: 32px;
    font-weight: bold;
    color: #3ac56c;
    text-align: center;
}

@media (max-width: 1320px) {
    .total {
        position: static;
        margin-bottom: 30px;
    }
}

.financial-result {
    color: #000;
    font-size: 26px;
}

@media (max-width: 1500px) {
    .financial-result {
        font-size: 22px;
    }

    .total {
        font-size: 28px;
    }
}
