.content {
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.content > * {
    width: 304px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.1515);
}
