.container {
    display: flex;
    align-items: flex-start;
}

.form {
    display: block;
    width: 100%;
    flex-shrink: 1;
    padding: 20px;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 30px;
}

.group-title {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
}

.group-content > * {
    margin-right: 0;
    margin-bottom: 20px;
}

.group-content > *:last-child {
    margin-bottom: 0;
}

.information-content {
    width: 100%;
    height: auto;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 30px;
    position: relative;
    font-size: 14px;
    font-size: calc(10px + (14 - 10) * ((100vw - 1280px) / 640));
}

.row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.row > * {
    margin-right: 20px;
    margin-bottom: 0;
    width: 100%;
    flex-shrink: 1;
}

.row > *:last-child {
    margin-right: 0;
}

.row_non-split > * {
    width: auto;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 12px;
    border-radius: 4px;
    background-color: #fff;
    border: solid 1px #000;
    cursor: pointer;
}

.checkbox-icon::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e72e92;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.checkbox-label {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
    cursor: pointer;
}

.checkbox-source {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.checkbox-source:checked ~ .checkbox-icon::after {
    opacity: 1;
}

.summary {
    max-width: 270px;
    margin-left: auto;
}

.sum {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
}

.sum > * {
    white-space: nowrap;
    flex-shrink: 1;
}

.sum-caption {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    color: #41334b;
}

.sum-value {
    margin-left: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #41334b;
}

.input-hint {
    position: absolute;
    top: 22px;
    right: 34px;
}

.input-hint-btn {
    width: 18px;
    height: 18px;
    background-image: url('./img/help-idle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.input-hint[data-disabled="true"] .input-hint-btn {
    background-image: url('./img/help-active.png');
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d8d8d8;
    padding: 15px 25px;
    box-sizing: border-box;
}

.table-header__title {
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
}

.table-header__icon {
    width: 20px;
    height: 24px;
    background: url('./img/vs-history.svg') no-repeat center;
    cursor: pointer;
    user-select: none;
}

.table-header_history {
    background-image: linear-gradient(93deg, #0a357e, #e62e92);
}

.table-header_history .table-header__icon {
    width: 15px;
    height: 15px;
    background: url('./img/vs-cross.svg') no-repeat center;
}

.table-header_history .table-header__title {
    color: white;
}

.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 20px;
    padding: 15px 25px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3e3048;
}

.summary {
    margin-bottom: 60px;
    padding-right: 30px;
}
