.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.imgBox {
    width: 18px;
	height: 18px;
	background: url('./checkbox.jpg') -1px 0;
    border: 1px solid #afa7a9;
    border-radius: 6px;
    cursor: pointer;
}

.imgBox_active {
	background: url('./checkbox.jpg') -19px -1px;
}

.input {
	display: none;
}

.caption {
    margin-left: 10px;
    color: #75777a;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
}
