.slide-wrapper {
    position: relative;
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.slide-wrapper--no-shadow {
    box-shadow: none;
}

.slide-body {
    position: relative;
    overflow: visible;
    transition: max-height .5s ease-in;
}

.slide-footer {
    display: flex;
    width: 100%;
    height: 1px;
    justify-content: center;
    background-color: #fff;
}

.toggle-btn {
    position: absolute;
    bottom: 0;
    z-index: 120;
    display: flex;
    width: 30px;
    height: 30px;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transform: translateY(50%);
}

.toggle-btn-caption {
    color: #60b4d4;
    font-family: 'OpenSans-Regular';
    font-size: 14px;
    width: auto;
    min-width: 120px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
}

.toggle-btn-caption span {
    margin-right: 10px;
}

.chevron {
    transform: rotateZ(0deg);
    transition: transform .5s ease-in;
}

.chevron--rotated {
    transform: rotateZ(180deg);
}
