.cancel-modal {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 456px;
    margin-top: 25px;
}

.top-info {
    display: flex;
    justify-content: space-between;
}

.text-small {
    color: #75777a;
    font-size: 14px;
}

.sum {
    font-size: 24px;
}

.minus {
    margin-right: 5px;
    color: #c86fac;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #1d1d1d;
    font-size: 16px;
}

.reason {
    width: 456px;
}

.reason > div:first-child {
    color: #1d1d1d;
    font-size: 14px;
}

.error-wrapper {
    margin-bottom: 10px;
    color: #d62351;
}

.error-header {
    font-size: 18px;
}

.error-text {
    font-size: 14px;
}
