.certificates-list {
    height: 400px;
    padding: 5px;
    padding-right: 30px;
}

.certificates-list-item {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    color: #1d1d1d;
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.certificates-list-item > div:first-child {
    overflow: hidden;
    width: 80%;
}

.certificates-list-item > div:first-child > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.certificates-list-item > div:last-child {
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    border-radius: 100%;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #794583;
    border-radius: 100%;
    transform: scale(0, 0);
    transform-origin: center;
    transition: transform .3s ease-in;
}

.certificates-list-item--selected .circle {
    transform: scale(1, 1);
}
